<template>
  <div class="passengers-overview-container">
    <section class="heading-wrapper">
      <div class="title-wrapper">
        <h2 class="title">
          مشخصات مسافران
        </h2>
      </div>

      <div class="cta-wrapper">
        <a-button class="edit-passengers-btn">
          ویرایش مسافران
        </a-button>
      </div>
    </section>

    <section class="passengers-table">
      <a-table :columns="columns" :dataSource="passengersData" :pagination="false"/>
    </section>
  </div>
</template>

<script>
import Translator from '@/utils/Translator';
import PriceSeparator from '@/utils/Price-Separator';

export default {
  name: 'Passengers-Overview',
  emits: ['update:travel-price'],
  props: {
    passengers: {
      type: Array,
      required: true,
    },
    travelPricing: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      columns: [
        {
          title: 'قیمت(تومان)',
          dataIndex: 'price',
          key: 'price',
        },
        {
          title: 'ملیت',
          dataIndex: 'nation',
          key: 'nation',
        },
        {
          title: 'تاریخ تولد',
          dataIndex: 'birthday',
          key: 'birthday',
        },
        {
          title: 'کد ملی / شماره پاسپورت',
          dataIndex: 'nationalPassportCode',
          key: 'nationalPassportCode',
        },
        {
          title: 'جنسیت',
          dataIndex: 'gender',
          key: 'gender',
        },
        {
          title: 'نام و نام خانوادگی',
          dataIndex: 'name',
          key: 'name',
        },
        {
          title: 'بازه سنی',
          dataIndex: 'ageRange',
          key: 'ageRange',
        },
      ],
      passengersData: null,
    };
  },
  beforeMount() {
    const passengers = [];
    let travelPrice = 0;

    function birthdayTemp({
      y,
      m,
      d,
    }) {
      return `${y}/${m}/${d}`;
    }

    this.passengers.forEach((passenger, index) => {
      const {
        idCardType,
        nationalCardData,
        passportCardData,
      } = passenger;
      const cardData = idCardType === 'national-card' ? nationalCardData : passportCardData;
      const newPassenger = {};

      newPassenger.key = index.toString();

      // Age Range
      const { birthday } = idCardType === 'national-card' ? nationalCardData : passportCardData;
      if (birthday.year.value === 1400 || birthday.year.value === 2022) {
        newPassenger.ageRange = 'نوزاد';
        travelPrice += +this.travelPricing.child;
        newPassenger.price = PriceSeparator(this.travelPricing.child);
      } else if (birthday.year.value >= 1388 || birthday.year.value >= 2010) {
        newPassenger.ageRange = 'کودک';
        travelPrice += +this.travelPricing.young;
        newPassenger.price = PriceSeparator(this.travelPricing.young);
      } else {
        newPassenger.ageRange = 'بزرگسال';
        travelPrice += +this.travelPricing.adult;
        newPassenger.price = PriceSeparator(this.travelPricing.adult);
      }

      // First name & Last name
      newPassenger.name = idCardType === 'national-card' ? `${nationalCardData.firstName.value} ${nationalCardData.lastName.value}` : `${passenger.latinName.value} ${passenger.latinSurName.value}`;

      newPassenger.gender = Translator.translate(passenger.gender.value);

      newPassenger.nationalPassportCode = idCardType === 'national-card' ? nationalCardData.nationalCode.value : passportCardData.passportNumber.value;

      const {
        year,
        month,
        day,
      } = cardData.birthday;
      newPassenger.birthday = birthdayTemp({
        y: year,
        m: month,
        d: day,
      });

      newPassenger.nation = passportCardData.birthCountry.value || 'ایران';

      passengers.push(newPassenger);
    });

    this.passengersData = passengers;

    this.$emit('update:travel-price', travelPrice);
  },
};
</script>

<style lang="scss" scoped>
.passengers-overview-container {
  @apply bg-white p-10 border rounded-xl;

  .heading-wrapper {
    @apply flex justify-between flex-row-reverse items-center mb-8;

    .title-wrapper .title {
      @apply text-black text-3xl font-bold;
    }

    .cta-wrapper {
      .edit-passengers-btn {
        @apply rounded-xl border-blue-600 text-blue-600 hover:bg-blue-50;

        &:active {
          @apply bg-blue-100;
        }
      }
    }
  }
}
</style>
