<template>
  <div class="ticket-info-container">
    <section class="heading-wrapper">
      <h3 class="title">
        اطلاعات بلیط
      </h3>
    </section>

    <section class="content-wrapper" dir="rtl">
      <div class="info-table-wrapper">
        <div class="rows">
          <div class="row origin">
            <h2>
              مبدا
            </h2>
          </div>

          <div class="row destination">
            <h2>
              مقصد
            </h2>
          </div>

          <div class="row brand">
            <h2>
              شرکت هواپیمایی
            </h2>
          </div>

          <div class="row flight-date">
            <h2>
              تاریخ و ساعت پرواز
            </h2>
          </div>

          <div class="row flight-number">
            <h2>
              شماره پرواز
            </h2>
          </div>

          <div class="row travel-class">
            <h2>
              کلاس پروازی
            </h2>
          </div>

          <div class="row aircraft">
            <h2>
              هواپیما
            </h2>
          </div>

          <div class="row load-allowed-amount">
            <h2>
              مقدار بار مجاز
            </h2>
          </div>

          <div class="row special-services">
            <h2>
              خدمات ویژه
            </h2>
          </div>
        </div>

        <div class="contents">
          <div class="content origin">
            <h2>
              {{ translate(travel.from.full) }}
            </h2>
          </div>

          <div class="content destination">
            <h2>
              {{ translate(travel.to.full) }}
            </h2>
          </div>

          <div class="content brand">
            <h2>
              {{ translate(travel.brand.name) }}
            </h2>
          </div>

          <div class="content flight-date">
            <h2>
              {{ travel.date }} - {{ travelTimeFixer(travel.time.fly.h, travel.time.fly.m) }}
            </h2>
          </div>

          <div class="content flight-number">
            <h2>
              QB {{ travel.otherInfo.travelNumber }}
            </h2>
          </div>

          <div class="content travel-class">
            <h2>
              اکونومی
            </h2>
          </div>

          <div class="content aircraft">
            <h2>
              {{ travel.otherInfo.aircraft }}
            </h2>
          </div>

          <div class="content load-allowed-amount">
            <h2>
              {{ travel.otherInfo.allowedLoadAmount }} کیلوگرم
            </h2>
          </div>

          <div class="content special-services">
            <h2>
              ندارد
            </h2>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Translator from '@/utils/Translator';
import travelTimeFixer from '@/utils/Travel-Time-Fixer';

export default {
  name: 'Ticket-Info',
  props: {
    travel: {
      type: Object,
      required: true,
    },
  },
  methods: {
    travelTimeFixer,
    translate(enWord) {
      return Translator.translate(enWord);
    },
  },
};
</script>

<style lang="scss" scoped>
$border-radius-size: .75rem;

.ticket-info-container {
  @apply bg-white p-10 border rounded-xl;

  .heading-wrapper {
    @apply mb-7;

    .title {
      @apply font-bold text-3xl text-right;
    }
  }

  .content-wrapper {
    .info-table-wrapper {
      @apply grid grid-cols-10 rounded-xl;

      .rows {
        @apply col-span-3 md:col-span-2 bg-gray-100 text-center;
        border-radius: 0 $border-radius-size $border-radius-size 0;

        .origin {
          border-top-right-radius: $border-radius-size;
        }

        .special-services {
          border-bottom-right-radius: $border-radius-size;
        }

        .row {
          @apply border p-5 h-24 md:h-20;
          // Flex
          @apply flex items-center justify-center;

          h2 {
            @apply text-black text-2xl;
          }
        }
      }

      .contents {
        @apply col-span-7 md:col-span-8 flex flex-col;

        .origin {
          border-top-left-radius: $border-radius-size;
        }

        .special-services {
          border-bottom-left-radius: $border-radius-size;
        }

        .content {
          @apply border p-5 h-24 md:h-20;
          // Flex
          @apply flex items-center justify-center;

          h2 {
            @apply text-black text-2xl text-center;
          }
        }
      }
    }
  }
}
</style>
