<template>
  <div class="ticket-offer-container" dir="rtl">
    <section class="heading-wrapper">
      <h2 class="title">
        کد تخفیف
      </h2>
    </section>

    <section class="content-wrapper">
      <a-input v-model:value="offerCode"
               class="offer-input"
               placeholder="کد تخفیف را وارد نمایید"/>
      <a-button @click="offerHandler"
                class="offer-handler-btn">
        اعمال تخفیف
      </a-button>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Ticket-Offer',
  data() {
    return {
      offerCode: null,
    };
  },
  methods: {
    offerHandler() {
      this.$message.error('کد تخفیف معتبر نمی باشد');
    },
  },
};
</script>

<style lang="scss" scoped>
.ticket-offer-container {
  @apply p-10 bg-white rounded-xl border;

  section.heading-wrapper {
    @apply mb-8;

    .title {
      @apply font-bold text-3xl;
    }
  }

  section.content-wrapper {
    @apply flex;

    .offer-input {
      @apply w-80 rounded-xl;
    }

    .offer-handler-btn {
      @apply rounded-xl mr-5;
    }
  }
}
</style>
