<template>
  <div class="faq-container" dir="rtl">
    <h2 class="heading">
      {{ title }}
    </h2>

    <ul class="faq-items">
      <li v-for="(q, index) of questions"
          :key="index"
          class="faq-item"
          @click="openQuestionHandler(index)">
        <div class="item-container">
          <div class="item-heading-wrapper">
            <h3 class="title">
              {{ q.title }}
            </h3>

            <div class="actions">
              <button class="btn">
                <i v-if="openedQuestion === index"
                   class="fas fa-sort-up"/>

                <i v-else
                   class="fas fa-sort-down"/>
              </button>
            </div>
          </div>

          <div :class="{ 'hidden': openedQuestion !== index }"
               class="item-answer-wrapper">
            <p class="answer">
              {{ q.answer }}
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'faq',
  props: {
    title: {
      type: String,
      required: true,
    },
    questions: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      openedQuestion: -1,
    };
  },
  methods: {
    openQuestionHandler(qIndex) {
      this.openedQuestion = this.openedQuestion === qIndex ? -1 : qIndex;
    },
  },
};
</script>

<style lang="scss" scoped>
.faq-container {
  .heading {
    @apply font-bold text-4xl mb-5;
  }

  .faq-items {
    @apply space-y-7;

    .faq-item {
      @apply bg-white py-7 px-10 border cursor-pointer;
      transition: all ease-in .3s;
      border-radius: 1rem;

      .item-container {
        .item-heading-wrapper {
          @apply flex justify-between;

          .title {
            @apply font-semibold text-2xl text-gray-700;
          }
        }

        .item-answer-wrapper {
          .answer {
            @apply mt-6 text-justify;
          }
        }
      }
    }
  }
}
</style>
