<template>
  <img class="logo-el" src="../../../public/logo/oracle-brand-gold-dark.png" alt="لوگو آژانس مسافرتی اوراکل">
</template>

<script>
export default {
  name: 'Logo',
};
</script>

<style lang="scss" scoped>
.logo-el {
  width: 12.5rem !important;
}
</style>
