<template>
  <div class="oracle-plus-container custom-container-p-big" dir="rtl">
    <div class="img-wrapper">
      <img
        alt="oracle plus image"
        src="https://cdn.alibaba.ir/h/desktop/assets/icons/alibaba-plus-logo-gold.svg-4bd34e37.svg">
    </div>

    <div class="content-wrapper">
      <h3 class="title">
        اوراکل پلاس، جمع تجربه های سفر شما
      </h3>

      <p class="desc">
        به اوراکل پلاس بیایید تا هم تجربه‌های
        سفرهایتان را در اختیار هزاران ‌هزار مسافر قرار دهید، هم تجربه بقیه را بخوانید.
      </p>
    </div>

    <div class="cta-wrapper">
      <a-button class="btn"
                @click="oraclePlusHandler"
                href="#">
        <span>
          رفتن به اوراکل پلاس
        </span>
        <i class="fas fa-chevron-left"></i>
      </a-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Oracle-Plus',
  methods: {
    oraclePlusHandler() {
      this.$message.error('این ویژگی به دلیل آزمایشی بودن وب سایت در دسترس نمی باشد');
    },
  },
};
</script>

<style lang="scss" scoped>
.oracle-plus-container {
  @apply bg-white text-center md:text-right gap-5 md:gap-10;
  // Spacing
  @apply py-10;
  // Flex
  @apply flex flex-col md:flex-row;
  border-radius: 1rem;

  .img-wrapper {
    @apply flex justify-center;
  }

  .content-wrapper {
    @apply flex flex-col justify-center;
    flex-grow: 1;

    h3.title {
      @apply font-bold;
    }
  }

  .cta-wrapper {
    @apply flex justify-center items-center;

    .btn {
      @apply bg-black text-white border-none hover:bg-gray-700;
      // Trans
      @apply transition-colors duration-150;
      // Flex
      @apply flex justify-center items-center gap-2;

      border-radius: 10rem;
    }
  }
}
</style>
