<template>
  <div class="inner-travel-selector-container" dir="rtl">
    <div class="inner-travel-inputs">
      <div class="inputs">
        <div class="cities-selector-wrapper wrapper">
          <two-way-select :selector-one-list="cities"
                          :selector-two-list="cities"
                          block
                          class="travel-selector-item"
                          reverse
                          selector-one-placeholder="مبدا (شهر)"
                          selector-two-placeholder="مقصد (شهر)"
                          @selector-one-emit="originEventHandler"
                          @selector-two-emit="destinationEventHandler"/>
        </div>

        <div class="date-picker-wrapper wrapper">
          <date-selector v-model:date="date"
                         class="travel-selector-item"
                         place-holder="تاریخ رفت"/>
        </div>

        <div class="search-btn-wrapper wrapper">
          <a-button block
                    @click="redirectToTravels"
                    class="search-btn travel-selector-item"
                    size="large">
            جست و جو
          </a-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { innerTravelCities } from '@/utils/data/travels/inner-travels-data';
import Translator from '@/utils/Translator';
import TwoWaySelect from '@/components/Elements/Two-Way-Select.vue';
import DateSelector from '@/components/Elements/Date-Selector.vue';

export default {
  name: 'Inner-Travel-Selector',
  components: {
    DateSelector,
    TwoWaySelect,
  },
  data() {
    return {
      origin: '',
      destination: '',
      cities: innerTravelCities,
      date: null,
    };
  },
  methods: {
    translate(word) {
      return Translator.translate(word);
    },
    search() {
      // TODO Search handler
    },
    convertCities() {
      this.cities = this.cities.map((city) => ({
        name: Translator.translate(city.full),
        val: city.short,
      }));
    },
    originEventHandler(originCity) {
      this.origin = originCity;
    },
    destinationEventHandler(destinationCity) {
      this.destination = destinationCity;
    },
    redirectToTravels() {
      this.$router.push({
        name: 'Travels',
        query: {
          origin: this.origin.val,
          destination: this.destination.val,
          date: this.date,
          type: 'inner-travel',
        },
      });
    },
  },
  mounted() {
    this.convertCities();
  },
};
</script>

<style lang="scss" scoped>
.inner-travel-selector-container {
  .inner-travel-inputs {
    @apply w-full;
    .inputs {
      @apply grid grid-cols-1 md:grid-cols-5;
      @apply gap-7;

      .cities-selector-wrapper {
        @apply md:col-span-2;
      }

      .date-picker-wrapper {
        @apply md:col-span-2;
        @apply flex items-center;

        .travel-selector-item {
          width: 100%;
        }
      }

      .search-btn-wrapper {
        @apply md:col-span-1;
        @apply flex items-center;
        .search-btn {
          @apply bg-yellow-400 text-black rounded-xl border border-yellow-400;
        }
      }
    }
  }
}
</style>
