<template>
  <div class="travel-selector-container">
    <section class="selector-header-wrapper">
      <swiper class="slides"
              :breakpoints="swiperBreakpoints"
              @slideChange="onSlideChange"
              @swiper="onSwiper">
        <swiper-slide v-for="(travelType, index) of travelTypes"
                      :key="`travel-type-${index}`"
                      :class="{ 'selected-travel-type': selectedTravelTypeIndex === index }"
                      class="slide"
                      @click="selectTravelType(index)">
          <i
            :class="['fas', `fa-${travelType.icon}`, 'fa-2xl', { 'text-blue-500': selectedTravelTypeIndex === index } ]"/>
          <h3 :class="{ 'text-blue-500': selectedTravelTypeIndex === index }">
            {{ travelType.title }}
          </h3>
        </swiper-slide>
      </swiper>
    </section>

    <hr class="travel-selector-separator">

    <section class="selector-inputs-wrapper">
      <keep-alive>
        <inner-travel-selector v-if="selectedTravelTypeIndex === 0"/>
      </keep-alive>
    </section>
  </div>
</template>

<script>
// eslint-disable-next-line import/extensions
import { Swiper, SwiperSlide } from 'swiper/vue';
import InnerTravelSelector from '@/components/Travel/Selectors/Inner-Travel-Selector.vue';

import 'swiper/swiper.min.css';

export default {
  name: 'Travel-Selector-Container',
  components: {
    Swiper,
    SwiperSlide,
    InnerTravelSelector,
  },
  data() {
    return {
      selectedTravelTypeIndex: 0,
      travelTypes: [
        {
          title: 'پرواز داخلی',
          icon: 'plane-departure',
        },
        {
          title: 'پرواز خارجی',
          icon: 'plane-arrival',
        },
        {
          title: 'قطار',
          icon: 'bus-alt',
        },
        {
          title: 'اتوبوس',
          icon: 'bus',
        },
        {
          title: 'تور',
          icon: 'caravan',
        },
        {
          title: 'هتل',
          icon: 'building',
        },
      ],
      swiperBreakpoints: {
        1920: {
          slidesPerView: 5,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 30,
        },
        640: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
        0: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
      },
    };
  },
  methods: {
    selectTravelType(index) {
      this.selectedTravelTypeIndex = index;
    },
  },
  setup() {
    const onSwiper = () => {
    };
    const onSlideChange = () => {
    };

    return {
      onSwiper,
      onSlideChange,
    };
  },
};
</script>

<style lang="scss" scoped>
.travel-selector-container {
  @apply w-full bg-white shadow-sm border;
  // Spacing
  @apply py-10;
  border-radius: 1rem;

  .selector-header-wrapper {
    @apply px-12 sm:px-20 md:px-28 lg:px-40 xl:px-60;

    .slides {
      .slide {
        @apply flex flex-col justify-center items-center py-7 cursor-pointer;
        // Colors
        @apply text-gray-600;

        i {
          @apply mb-8;
        }

        i, h3 {
          @apply transition-all duration-300;
        }
      }
    }
  }

  .travel-selector-separator {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, .15);
    transform: translateY(-4px);
  }

  .selector-inputs-wrapper {
    @apply pt-10 px-12 md:px-8 lg:px-32 xl:px-52;
  }
}

.selected-travel-type {
  overflow: visible;

  &::after {
    content: '';
    width: 30%;
    height: 4px;
    background-color: #3B82F6;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-58% * 2) translateY(-100%);
    border-radius: 1rem 1rem 0 0;
  }
}
</style>
