<template>
  <div class="date-picker-container">
    <span class="field-label">
      {{ label }}
    </span>

    <div class="field-wrapper">
      <a-select v-model:value="year"
                placeholder="سال"
                style="width: 100%">
        <a-select-option v-for="year in years"
                         :key="`year-${year}`"
                         :value="year">
          {{ year }}
        </a-select-option>
      </a-select>

      <a-select v-model:value="month"
                placeholder="ماه"
                style="width: 100%">
        <a-select-option v-for="(month, i) in months"
                         :key="`month-${i}`"
                         :value="i + 1 >= 10 ? i + 1 : +`0${i+1}`">
          {{ month.label }}
        </a-select-option>
      </a-select>

      <a-select v-model:value="day"
                :disabled="!month"
                placeholder="روز"
                style="width: 100%">
        <a-select-option v-for="day in toEmitMonth.daysNumber"
                         :key="`day-${day}`"
                         :value="day >= 10 ? day : `0${day}`">
          {{ day >= 10 ? day : `0${day}` }}
        </a-select-option>
      </a-select>
    </div>
    <field-error-message v-if="validatedFlag"
                         :message="errorMessage"/>
  </div>
</template>

<script>
import { range } from 'lodash';
import * as yup from 'yup';
import FieldErrorMessage from '@/components/Form/Field-Error-Message.vue';

const gregorianMonths = [
  {
    label: 'January',
    maxDays: 31,
  },
  {
    label: 'February',
    maxDays: 28,
  },
  {
    label: 'March',
    maxDays: 31,
  },
  {
    label: 'April',
    maxDays: 30,
  },
  {
    label: 'May',
    maxDays: 31,
  },
  {
    label: 'June',
    maxDays: 30,
  },
  {
    label: 'July',
    maxDays: 31,
  },
  {
    label: 'August',
    maxDays: 31,
  },
  {
    label: 'September',
    maxDays: 30,
  },
  {
    label: 'October',
    maxDays: 31,
  },
  {
    label: 'November',
    maxDays: 30,
  },
  {
    label: 'December',
    maxDays: 31,
  },
];

const solarMonths = [
  {
    label: 'فروردین',
    maxDays: 31,
  },
  {
    label: 'اردیبهشت',
    maxDays: 31,
  },
  {
    label: 'خرداد',
    maxDays: 31,
  },
  {
    label: 'تیر',
    maxDays: 31,
  },
  {
    label: 'مرداد',
    maxDays: 29,
  },
  {
    label: 'شهریور',
    maxDays: 31,
  },
  {
    label: 'مهر',
    maxDays: 30,
  },
  {
    label: 'آبان',
    maxDays: 30,
  },
  {
    label: 'آذر',
    maxDays: 30,
  },
  {
    label: 'دی',
    maxDays: 30,
  },
  {
    label: 'بهمن',
    maxDays: 29,
  },
  {
    label: 'اسفند',
    maxDays: 29,
  },
];

export default {
  name: 'Date-Picker',
  components: { FieldErrorMessage },
  emits: ['update:date'],
  props: {
    dateType: {
      // 1. solar || 2. gregorian
      type: String,
      required: false,
      default: 'solar',
    },
    latestSolarYear: {
      type: Number,
      required: false,
      default: 1389,
    },
    latestGregorianYear: {
      type: Number,
      required: false,
      default: 2010,
    },
    label: {
      type: String,
      required: true,
    },
    fieldName: {
      type: String,
      required: false,
      default: 'field-name',
    },
    formSubmitTrigger: {
      type: Number,
      required: true,
    },
    validator: {
      type: Object,
      required: true,
    },
  },
  data() {
    const years = this.dateType === 'solar' ? range(1300, this.latestSolarYear + 1)
      .reverse() : range(1922, this.latestGregorianYear + 1)
      .reverse();
    const months = this.dateType === 'solar' ? solarMonths : gregorianMonths;

    return {
      years,
      months,
      day: null,
      month: null,
      year: null,
      toEmitMonth: {
        monthNumber: 1,
        daysNumber: 30,
      },
      validationSchema: null,
      errorMessage: '',
      valid: false,
      validatedFlag: false,
    };
  },
  methods: {
    validate() {
      const self = this;
      this.validatedFlag = true;

      this.validationSchema.validate({
        year: this.year,
        month: this.month,
        day: this.day,
      }, { abortEarly: false })
        .then(() => {
          self.errorMessage = '';
          self.valid = true;
        })
        .catch((err) => {
          // eslint-disable-next-line prefer-destructuring
          self.errorMessage = [...err.errors][0];
          self.valid = false;
        });
    },
    onUpdate() {
      this.validate();

      this.$emit('update:date', {
        valid: this.valid,
        day: this.day || '',
        month: this.toEmitMonth.monthNumber || '',
        year: this.year || '',
      });
    },
  },
  watch: {
    day() {
      this.onUpdate();
    },
    month(val) {
      const monthNumber = val - 1;

      this.toEmitMonth = {
        monthNumber: val,
        daysNumber: this.months[monthNumber].maxDays,
      };

      if (this.day !== null) {
        this.day = this.day > this.months[monthNumber].maxDays ? null : this.day;
      }

      this.onUpdate();
    },
    year() {
      this.onUpdate();
    },
    formSubmitTrigger() {
      this.onUpdate();
    },
  },
  mounted() {
    const {
      year,
      month,
      day,
    } = this.validator;

    this.validationSchema = yup.object()
      .shape({
        year,
        month,
        day,
      });
  },
};
</script>

<style lang="scss" scoped>
.date-picker-container {
  @apply flex flex-col;

  .field-label {
    @apply block mb-2;
  }

  .field-wrapper {
    @apply flex justify-between gap-5 mb-2;
  }
}
</style>
