<template>
  <div :class="{ hidden: message === '' }"
       class="field-error-message-container">
    <span class="message font-light">
      خطا:
      {{ message }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'Field-Error-Message',
  props: {
    message: {
      type: String,
      required: false,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
.field-error-message-container {
  .message {
    @apply block text-red-600;
  }
}
</style>
