<template>
  <div class="field-container latin-name-field">
    <span class="input-label">
      {{ label }}
    </span>
    <a-input v-model:value="val"
             :allowClear="allowClear"
             :class="{ 'border-red-500': errorMessage !== '' && validated === true }"
             :name="fieldName"
             :placeholder="placeholder"
             class="field mb-2"/>
    <field-error-message :message="errorMessage"/>
  </div>
</template>

<script>
import * as yup from 'yup';
import FieldErrorMessage from '@/components/Form/Field-Error-Message.vue';

export default {
  name: 'Input-Field',
  components: { FieldErrorMessage },
  emits: ['update:input', 'update:field-valid'],
  props: {
    label: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: false,
      default: null,
    },
    fieldName: {
      type: String,
      required: false,
      default: 'field-name',
    },
    allowClear: {
      type: Boolean,
      required: false,
      default: false,
    },
    formSubmitTrigger: {
      type: Number,
      required: true,
    },
    validator: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      val: '',
      errorMessage: '',
      validated: false,
    };
  },
  methods: {
    validate() {
      const schema = yup.object()
        .shape({
          [this.fieldName]: this.validator,
        });
      this.validated = true;

      schema.validate({
        [this.fieldName]: this.val,
      })
        .then(() => {
          this.errorMessage = '';
          this.$emit('update:field-valid', true);
        })
        .catch((err) => {
          this.errorMessage = err.message;
          this.$emit('update:field-valid', false);
        });
    },
  },
  watch: {
    val() {
      this.$emit('update:input', this.val);
      this.validate();
    },
    formSubmitTrigger() {
      this.validate();
    },
  },
};
</script>

<style lang="scss" scoped>
.field-container {
  .input-label {
    @apply mb-1 block;
  }
}
</style>
