<template>
  <div class="select-field-container">
    <span class="select-label">
      {{ label }}
    </span>
    <a-select v-model:value.number="selectedValue"
              placeholder="جنیست خود را انتخاب نمایید"
              class="w-full mb-2 rounded-xl">
      <a-select-option v-for="(option, i) in optionsList"
                       :key="`option-${i}`"
        :value="option.val">
        {{ option.label || option }}
      </a-select-option>
    </a-select>
    <field-error-message :message="errorMessage"/>
  </div>
</template>

<script>
import * as yup from 'yup';
import FieldErrorMessage from '@/components/Form/Field-Error-Message.vue';

export default {
  name: 'Select-Field',
  components: { FieldErrorMessage },
  emits: ['update:selected-value', 'update:field-valid'],
  props: {
    label: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: false,
      default: null,
    },
    fieldName: {
      type: String,
      required: false,
      default: 'field-name',
    },
    allowClear: {
      type: Boolean,
      required: false,
      default: false,
    },
    formSubmitTrigger: {
      type: Number,
      required: true,
    },
    validator: {
      type: Object,
      required: true,
    },
    optionsList: {
      type: [Array, Object],
      required: true,
    },
  },
  data() {
    return {
      selectedValue: null,
      errorMessage: '',
      validated: false,
    };
  },
  methods: {
    validate() {
      const schema = yup.object()
        .shape({
          [this.fieldName]: this.validator,
        });

      this.validated = true;

      schema.validate({
        [this.fieldName]: this.selectedValue,
      })
        .then(() => {
          this.errorMessage = '';
          this.$emit('update:field-valid', true);
        })
        .catch((err) => {
          this.errorMessage = err.message;
          this.$emit('update:field-valid', false);
        });
    },
  },
  watch: {
    selectedValue() {
      this.$emit('update:selected-value', this.selectedValue);
      this.validate();
    },
    formSubmitTrigger() {
      this.validate();
    },
  },
};
</script>

<style lang="scss" scoped>
.ant-select-selector {
  border-radius: .8rem !important;
}

.select-field-container {
  .select-label {
    @apply block mb-1;
  }
}
</style>
