<template>
  <div class="profile-container custom-container-p page-padding-top">
    <profile-navigator v-model:selectedNavigation="selectedNavigation"/>

    <div class="profile-main-content-view">
      <Account v-if="selectedNavigation === 'user-account'"/>
      <Scores v-else-if="selectedNavigation === 'scores'"/>
      <my-travels v-else-if="selectedNavigation === 'my-travels'"/>
      <Transactions v-else-if="selectedNavigation === 'transactions'"/>
      <PassengersList  v-else-if="selectedNavigation === 'passengers-list'"/>
      <SupportRequest v-else-if="selectedNavigation === 'support-request'"/>
      <IncreaseCredit v-else-if="selectedNavigation === 'increase-credit'"/>
    </div>
    <br>
  </div>
</template>

<script>
import ProfileNavigator from '@/components/Account/Profile-Navigator.vue';
// Profile Components
import Account from '@/components/Account/Account.vue';
import IncreaseCredit from '@/components/Account/Increase-Credit.vue';
import PassengersList from '@/components/Account/Passengers-List.vue';
import Scores from '@/components/Account/Scores.vue';
import SupportRequest from '@/components/Account/Support-Request.vue';
import Transactions from '@/components/Account/Transactions.vue';
import MyTravels from '@/components/Account/My-Travels.vue';

export default {
  name: 'Profile',
  components: {
    MyTravels,
    Transactions,
    SupportRequest,
    Scores,
    PassengersList,
    IncreaseCredit,
    Account,
    ProfileNavigator,
  },
  data() {
    return {
      selectedNavigation: 'user-account',
    };
  },
  methods: {
    tabQueryHandler() {
      const tabQuery = this.$route.query.tab;
      if (tabQuery) {
        this.selectedNavigation = tabQuery;
      }
      this.$router.replace({ name: 'Account-Profile' });
    },
  },
  mounted() {
    this.tabQueryHandler();
  },
  updated() {
    this.tabQueryHandler();
  },
};
</script>

<style lang="scss" scoped>
.profile-container {
  @apply space-y-10;

  .profile-main-content-view {
    @apply py-10;
  }
}
</style>
