<template>
  <div class="news-slider-container">
    <swiper :spaceBetween="30"
            :breakpoints="breakpoints"
            class="slides">
      <swiper-slide v-for="(news, i) of newsList"
                    :key="`slide-${i}`"
                    :style="{ backgroundImage: `url('${news.imgAddress}')` }"
                    class="slide"
                    @click="slideOnClick">
        <router-link :to="news.link"
                     class="link">
          <div class="content">
            <h3 class="title">
              {{ news.title }}
            </h3>

            <p class="desc">
              {{ news.desc }}
            </p>
          </div>

          <div class="cta">
            <a-button :href="news.link"
                      class="btn">
              مطالعه
            </a-button>
          </div>
        </router-link>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'swiper/vue';

export default {
  name: 'News',
  components: {
    Swiper,
    SwiperSlide,
  },
  props: {
    newsList: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      breakpoints: {
        1920: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
      },
    };
  },
  methods: {
    slideOnClick() {
      this.$message.error('این مطلب به دلیل آزمایشی بودن وب سایت در دسترس نمی باشد');
    },
  },
};
</script>

<style lang="scss" scoped>
.news-slider-container {
  .slides {
    .slide {
      @apply rounded-xl py-44;
      position: relative;
      overflow: hidden;
      background-position: center;
      background-size: cover;

      &:hover {
        &::before {
          opacity: .8;
        }

        .link {
          .cta {
            .btn {
              transform: translateY(0);
              opacity: 1;
            }
          }
        }
      }

      .link {
        @apply text-right;
        // Flex
        @apply flex justify-between items-end flex-row-reverse;
        width: 90%;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        z-index: 10;

        .content {
          .title, .desc {
            @apply text-white;
            direction: rtl;
          }

          .title {
            @apply font-bold;
          }
        }

        .cta {
          .btn {
            @apply bg-white rounded-xl px-10;
            opacity: 0;
            transform: translateY(3rem);

            &:hover {
              color: black;
              border: #626262 1px solid;
            }
          }
        }
      }

      &::before {
        content: '';
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: opacity .3s ease;
        opacity: .7;
      }
    }
  }
}
</style>
