<template>
  <div class="score-card-container">
    <div v-for="(i) in 3"
         :key="`card-${i}`"
         :class="[`card-${i}`]"
         :style="{ backgroundImage: `url('${scoreLevelCardImageUrl}')` }"
         class="main-card">
      <div class="top">
        <div class="stamp">
          <i class="far fa-laugh-wink fa-lg"></i>
        </div>

        <div class="logo">
          <span>
            Oracle Agency
          </span>
        </div>
      </div>

      <div class="bottom">
        <div class="score-wrapper">
          <div class="score-label">
            <span dir="rtl">
              امتیاز شما:
            </span>
          </div>

          <div class="score-content">
            <span class="score-number">
              {{ user.score }}
            </span>
            <br>
            <span class="score-name">
              امتیاز
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.score-card-container {
  @apply mt-7 relative;

  .main-card {
    @apply rounded-xl relative;
    // Flex
    @apply flex flex-col justify-between;
    gap: 7rem;
    padding: 2rem 2.5rem .5rem 2.5rem;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
      z-index: 1;
    }

    .top {
      @apply flex justify-between;
      z-index: 2;

      .stamp {
        i {
          @apply text-white opacity-75;
        }
      }

      .logo {
        span {
          @apply text-white opacity-60 font-bold;
        }
      }
    }

    .bottom {
      z-index: 2;

      .score-wrapper {
        @apply flex justify-between text-white;

        .score-label {
          @apply flex items-center;
        }

        .score-content {
          @apply text-left;

          .score-number {
            @apply font-bold text-3xl;
          }

          .score-name {
            @apply text-lg;
          }
        }
      }
    }
  }

  .card-2, .card-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .card-1 {
    z-index: 5;
  }

  .card-2 {
    z-index: 4;
    top: -.8rem;
    opacity: .5;
    width: 92%;
    transform: translateX(4%);
  }

  .card-3 {
    z-index: 3;
    top: -1.6rem;
    opacity: .25;
    width: 85%;
    transform: translateX(7.5%);
  }
}
</style>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Score-Card',
  data() {
    return {
      currentLevel: null,
    };
  },
  computed: {
    ...mapGetters(['user']),
    scoreLevelCardImageUrl() {
      return this.currentLevel.cardImgUrl;
    },
  },
  inject: ['ScoreLevels'],
  beforeMount() {
    this.currentLevel = this.ScoreLevels.findUserLevel(this.user.score).foundLevel;
  },
};
</script>
