<template>
  <div class="score-progress-container">
    <a-progress
      type="circle"
      :stroke-color="{
        '0%': '#108ee9',
        '100%': '#87d068',
      }"
      :percent="passedScorePercent"
    />
    <span>
      سطح بعدی: {{ nextLevelTitle }}
    </span>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Score-Progress',
  data() {
    return {
      nextLevelTitle: null,
      passedScorePercent: 0,
    };
  },
  computed: {
    ...mapGetters(['user']),
  },
  inject: ['ScoreLevels'],
  beforeMount() {
    const nextLevel = this.ScoreLevels.nextLevel(this.user.score);
    this.nextLevelTitle = nextLevel.nextLevelTitle;
    this.passedScorePercent = (200 - nextLevel.neededScore) / 2;
  },
};
</script>

<style lang="scss" scoped>
.score-progress-container {
  @apply flex flex-col items-center gap-5;
}
</style>
