<template>
  <div class="summery-of-score-container">
    <div class="icon">
      <inline-svg
        src="/icons/iconsax/cup.svg"
        class="svg-icon"
      />
    </div>

    <div class="content">
      <div class="top">
        <span class="score-label">
          سطح فعلی شما:
        </span>

        <span class="score-title">
          {{ currentLevel.title }}
        </span>
      </div>

      <div class="bottom">
        <span class="required-score-to-next-level">
          تنها {{ nextLevelNeededScore }} امتیاز تا سطح بعدی
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import InlineSvg from 'vue-inline-svg';

export default {
  name: 'Summary-Of-Score',
  components: { InlineSvg },
  data() {
    return {
      currentLevel: null,
      nextLevelNeededScore: null,
    };
  },
  computed: {
    ...mapGetters(['user']),
  },
  inject: ['ScoreLevels'],
  beforeMount() {
    this.currentLevel = this.ScoreLevels.findUserLevel(this.user.score).foundLevel;
    this.nextLevelNeededScore = this.ScoreLevels.nextLevel(this.user.score).neededScore;
  },
};
</script>

<style lang="scss" scoped>
.summery-of-score-container {
  @apply flex items-center;

  .icon {
    .svg-icon {
      @apply w-20 text-blue-500;
      fill: #3B82F6;
    }
  }

  .content {
    @apply space-y-2;

    .top {
      @apply text-2xl;

      .score-label {
        @apply text-gray-700;
      }

      .score-title {
        @apply px-4 bg-blue-100 text-blue-600 rounded-lg;
      }
    }

    .bottom {
      .required-score-to-next-level {
        @apply text-gray-500 font-thin;
      }
    }
  }
}
</style>
