<template>
  <div class="travels-filter-container" dir="rtl">
    <div class="number-of-results">
      <span class="label">
        تعداد نتایج:
      </span>
      <span class="number">
        {{ numberOfResults }}
      </span>
    </div>

    <div v-if="type === 'inner-travel'"
         class="filter aircrafts-filter">
      <h3 class="heading">
        هواپیماها
      </h3>

      <ul class="aircrafts-list">
        <li v-for="(aircraft, i) of aircrafts"
            :key="`aircraft-${i}`">
          <a-checkbox v-model:checked="aircraft.status">
            {{ aircraft.name }}
          </a-checkbox>
        </li>
      </ul>
    </div>

    <div class="filter brands-filter">
      <h3 class="heading">
        شرکت ها
      </h3>

      <ul class="brands-list">
        <li v-for="(brand, i) of brands"
            class="brand"
            :key="`brand-${i}`">
          <a-checkbox v-model:checked="brand.status"
                      class="brand-checkbox">
            <img :src="getBrand(brand.name).img"
                 alt=""
                 class="brand-img">
            <span class="brand-name">
              {{ translate(brand.name) }}
            </span>
          </a-checkbox>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Translator from '@/utils/Translator';
import { innerTravelBrands } from '@/utils/data/travels/inner-travels-data';

export default {
  name: 'Travels-Filtering',
  emits: ['update:aircrafts', 'update:brands'],
  props: {
    type: {
      type: String,
      required: true,
    },
    aircraftList: {
      type: Array,
      required: false,
    },
    brandsList: {
      type: Array,
      required: false,
    },
    numberOfResults: {
      type: Number,
      required: true,
      default: 0,
    },
  },
  data() {
    return {
      aircrafts: [],
      brands: [],
    };
  },
  methods: {
    translate(enWord) {
      return Translator.translate(enWord);
    },
    getBrand(name) {
      return innerTravelBrands[innerTravelBrands.findIndex((brand) => brand.name === name)];
    },
  },
  watch: {
    aircrafts: {
      handler(val) {
        this.$emit('update:aircrafts', val);
      },
      deep: true,
    },
    brands: {
      handler(val) {
        this.$emit('update:brands', val);
      },
      deep: true,
    },
  },
  beforeMount() {
    const self = this;

    // Aircrafts Handling
    this.aircraftList.forEach((aircraft) => self.aircrafts.push({
      name: aircraft,
      status: false,
    }));

    // Brands Handling
    this.brandsList.forEach((brand) => self.brands.push({
      name: brand,
      status: false,
    }));
  },
  mounted() {
    this.$emit('update:aircrafts', this.aircrafts);
    this.$emit('update:brands', this.brands);
  },
};
</script>

<style lang="scss" scoped>
.travels-filter-container {
  @apply bg-white rounded-xl border space-y-8;

  .number-of-results {
    @apply p-10 border-b;

    .label {
      @apply text-gray-500;
    }
  }

  .filter {
    @apply px-10 pb-10;

    &:not(:last-child) {
      @apply border-b;
    }

    .heading {
      @apply font-bold text-2xl mb-5;
    }

    .brands-list {
      @apply space-y-5;

      .brand {
        .brand-checkbox {
          .brand-img {
            @apply inline w-12 h-12 border rounded-full ml-5;
          }
        }
      }
    }
  }
}
</style>
