<template>
  <div class="account-container">
    <minimal-wallet/>

    <simple-card class="account-content" dir="rtl">
      <div class="right-wrapper">
        <a-alert
          v-if="!user.email"
          class="email-alert rounded-xl"
          description="برای ورود با ایمیل لطفا از طریق ویرایش ایمیل خود را ثبت کنید."
          type="warning"
        />

        <simple-card :bg-class="accountContentItemsBgClass">
          <user-general-info/>
        </simple-card>

        <simple-card :bg-class="accountContentItemsBgClass">
          <user-email/>
        </simple-card>

        <simple-card :bg-class="accountContentItemsBgClass">
          <phone-number :editable="false"/>
        </simple-card>

        <simple-card :bg-class="accountContentItemsBgClass">
          <bank-info/>
        </simple-card>
      </div>

      <div class="left-wrapper">
        <div class="top scores">
          <div class="score-card-wrapper">
            <score-card/>
          </div>

          <div class="scores-summery">
            <div class="top-wrapper">
              <summary-of-score/>
              <score-progress/>
            </div>
          </div>
        </div>

        <div class="bottom">
          <invite-customer-club/>
        </div>
      </div>
    </simple-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MinimalWallet from '@/components/Account/Wallet/Minimal-Wallet.vue';
import SimpleCard from '@/components/Elements/Simple-Card.vue';
import UserGeneralInfo from '@/components/Account/Profile/User-General-Info.vue';
import UserEmail from '@/components/Account/Profile/User-Email.vue';
import PhoneNumber from '@/components/Account/Profile/Phone-Numebr.vue';
import BankInfo from '@/components/Account/Profile/Bank-Info.vue';
import ScoreCard from '@/components/Account/Score/Score-Card.vue';
import SummaryOfScore from '@/components/Account/Score/Summary-Of-Score.vue';
import ScoreProgress from '@/components/Account/Score/Score-Progress.vue';
import InviteCustomerClub from '@/components/Account/Club/Invite-Customer-Club.vue';

export default {
  name: 'Account',
  components: {
    InviteCustomerClub,
    ScoreProgress,
    SummaryOfScore,
    ScoreCard,
    BankInfo,
    PhoneNumber,
    UserEmail,
    UserGeneralInfo,
    SimpleCard,
    MinimalWallet,
  },
  data() {
    return {
      accountContentItemsBgClass: 'bg-gray-50',
    };
  },
  computed: {
    ...mapGetters(['user']),
  },
};
</script>

<style lang="scss" scoped>
.account-container {
  @apply space-y-10;

  .account-content {
    @apply grid grid-cols-1 md:grid-cols-2 gap-10;

    .right-wrapper {
      @apply space-y-7;
    }

    .left-wrapper {
      .top {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-10 mb-20 md:mb-44;

        .scores-summery {
          .top-wrapper {
            @apply flex flex-col items-center justify-center gap-7;
          }
        }
      }
    }
  }
}
</style>
