<template>
  <div class="header-user-info-card-container">
    <div class="top">
      <h3 class="username">
        {{ username }}
      </h3>

      <div class="info-wrapper">
        <div class="score">
          <i class="far fa-star"></i>&nbsp;
          <span>
            {{ user.score }}
            امتیاز
          </span>
        </div>

        <div class="credit">
          <i class="fas fa-credit-card"></i>&nbsp;
          <span>
            {{ user.credit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') }}
            تومان
          </span>
        </div>

        <div class="increase-credit">
          <router-link class="increase-credit__link" to="/account/profile?tab=increase-credit">
            افزایش اعتبار
          </router-link>
        </div>
      </div>
    </div>

    <div class="center">
      <ul class="drop-down-items">
        <li v-for="(item, i) of dropDownMenuItems"
            :key="`drop-down-item-${i}`"
            class="drop-down-item">
          <router-link :to="item.link"
                       @click="$emit('close-drop-down')">
            <i :class="['fas', `fa-${item.icon}`]"></i>
            &nbsp;
            {{ item.label }}
          </router-link>
        </li>
      </ul>
    </div>

    <div class="bottom">
      <div class="logout"
           @click="logout({ $route, $router })">
        <span>
          <i class="fas fa-sign-out-alt"></i>
          &nbsp;
          خروج از جساب کاربری
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'User-Info-Card',
  emits: ['close-drop-down'],
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      dropDownMenuItems: [
        {
          label: 'حساب کاربری',
          link: '/account/profile',
          icon: 'user',
        },
        {
          label: 'درخواس پشتیبانی',
          link: '/account/profile?tab=support-request',
          icon: 'headset',
        },
        {
          label: 'سفرهای من',
          link: '/account/profile?tab=my-travels',
          icon: 'route',
        },
      ],
    };
  },
  methods: {
    ...mapActions(['logout']),
  },
  computed: {
    username() {
      const {
        firstName,
        lastName,
      } = this.user.username;
      return `${firstName} ${lastName}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.header-user-info-card-container {
  .top {
    @apply bg-gray-100 p-4 mb-3 rounded-xl;

    .username {
      @apply mb-4;
    }

    .info-wrapper {
      @apply space-y-2;

      .score, .credit {
        i {
          @apply text-yellow-500;
        }
      }

      .increase-credit {
        position: relative;

        &__link {
          @apply transition duration-300 mb-2 text-blue-600;
          position: absolute;
          left: 0;
          bottom: 0;

          &:hover {
            @apply text-blue-800;
          }
        }
      }
    }
  }

  .center {
    @apply p-4 px-1;

    .drop-down-items {
      @apply space-y-2;

      .drop-down-item {
        @apply text-gray-600 transition duration-300 rounded-xl;
        // Spacing
        @apply p-3;

        &:hover {
          @apply bg-gray-100;
        }
      }
    }
  }

  .bottom {
    @apply px-1;

    .logout {
      @apply px-4 py-3 text-gray-600 cursor-pointer hover:bg-gray-100 rounded-xl transition duration-300;
    }
  }
}
</style>
