<template>
  <div class="profile-navigator" dir="rtl">
    <div class="navigator-items-wrapper">
      <swiper :slides-per-view="slidesPerView"
              :breakpoints="swiperBreakpoints"
              class="nav-items">
        <swiper-slide v-for="(item, index) of navigationItems"
                      :key="`nav-item-${index}`"
                      class="nav-item"
                      @click="navigationSelectHandler(item.val)">
          <h3 :class="{ 'text-blue-600': selectedNavigation === item.val }">
            <i :class="[item.iconType, `fa-${item.icon}`, 'fa-lg', { 'text-blue-500': selectedNavigation === item.val } ]"/>
            &nbsp;
            {{ item.label }}
          </h3>

          <div class="tab-active-indicator"
               :class="[ selectedNavigation === item.val ? 'opacity-100' : 'opacity-0' ]"/>
        </swiper-slide>
      </swiper>
    </div>

    <div class="left-slider-shadow"/>
    <div class="right-slider-shadow"/>
  </div>
</template>

<style lang="scss" scoped>
.profile-navigator {
  @apply bg-white pt-0 px-10 rounded-xl border overflow-hidden relative;

  .navigator-items-wrapper {
    @apply w-full;

    .swiper-slide {
      @apply cursor-pointer py-8;

      h3 {
        @apply text-center;
        transition: color .5s ease;
      }

      .tab-active-indicator {
        background-color: #3B82F6;
        border-radius: 10rem 10rem 0 0;
        height: .5rem;
        width: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: 0;
        transition: opacity .5s ease;
      }
    }
  }
}
</style>

<script>
import { SwiperSlide, Swiper } from 'swiper/vue';

export default {
  name: 'Profile-Navigator',
  components: {
    Swiper,
    SwiperSlide,
  },
  emits: ['update:selectedNavigation'],
  props: {
    selectedNavigation: {
      type: String,
    },
  },
  data() {
    return {
      slidesPerView: 5,
      navigationItems: [
        {
          label: 'حساب کاربری',
          val: 'user-account',
          icon: 'user',
          iconType: 'far',
        },
        {
          label: 'امتیازها',
          val: 'scores',
          icon: 'star',
          iconType: 'far',
        },
        {
          label: 'سفرهای من',
          val: 'my-travels',
          icon: 'route',
          iconType: 'fas',
        },
        {
          label: 'تراکنش ها',
          val: 'transactions',
          icon: 'money-bill-alt',
          iconType: 'far',
        },
        {
          label: 'لیست مسافران',
          val: 'passengers-list',
          icon: 'intercom',
          iconType: 'fab',
        },
        {
          label: 'درخواست پشتیبانی',
          val: 'support-request',
          icon: 'headset',
          iconType: 'fas',
        },
        {
          label: 'افزایش اعتبار',
          val: 'increase-credit',
          icon: 'credit-card',
          iconType: 'fas',
        },
      ],
      swiperBreakpoints: {
        2560: {
          slidesPerView: 7,
        },
        1920: {
          slidesPerView: 6,
        },
        1024: {
          slidesPerView: 5,
        },
        640: {
          slidesPerView: 4,
        },
        0: {
          slidesPerView: 3,
        },
      },
    };
  },
  methods: {
    navigationSelectHandler(navigatorName) {
      this.$emit('update:selectedNavigation', navigatorName);
    },
  },
};
</script>
