<template>
  <div class="scores-container" dir="rtl">
    <div class="score-card">
      <score-card/>
    </div>

    <div class="score-summery">
      <summary-of-score/>
    </div>

    <div class="how-catch-scores">
      <div class="catch-score">
        <h3 class="heading">
          چگونه امتیاز بگیریم؟
        </h3>
        <p class="desc">
          با هر خرید از علی بابا، یک درصد از مبلغ سفارش به صورت امتیاز به حساب باشگاه وفاداری شما منتقل می‌شود.
        </p>
      </div>

      <div class="usage-of-score">
        <h3 class="heading">
          امتیازها چه کاربردی دارند؟
        </h3>
        <p class="desc">
          هر امتیاز ۱۰ هزار ریال ارزش دارد و در هنگام خرید از بخش‌های تور، پرواز خارجی، هتل داخلی و خارجی و همچنین اتوبوس می‌توانید امتیازهای خود را مصرف کنید.
        </p>
      </div>
    </div>

    <div class="score-progress">
      <score-progress/>
    </div>
  </div>
</template>

<script>
import ScoreCard from '@/components/Account/Score/Score-Card.vue';
import SummaryOfScore from '@/components/Account/Score/Summary-Of-Score.vue';
import ScoreProgress from '@/components/Account/Score/Score-Progress.vue';

export default {
  name: 'Scores',
  components: { ScoreProgress, SummaryOfScore, ScoreCard },
};
</script>

<style lang="scss" scoped>
.scores-container {
  @apply bg-white p-10 rounded-xl border;
  // Grid
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-20 md:gap-10;

  div {
    @apply flex flex-col justify-center;
  }

  div.how-catch-scores {
    @apply space-y-5;

    div {
      @apply space-y-2;

      .heading {
        @apply font-bold text-2xl;
      }

      .desc {
        @apply text-justify;
      }
    }
  }
}
</style>
