<template>
  <div class="support-request-container">
    <div v-if="user.tickets.length === 0 && pageStatus !== 'new-ticket'" class="no-support-request">
      <img
        alt="تصویر عدم درخواست پشتیبانی"
        src="https://www.alibaba.ir/_assets/img/no-ticket.26b1db6.png"
      />

      <h2 class="heading">
        هنوز درخواست پشتیبانی آنلاین توسط شما ثبت نشده است.
      </h2>
      <p class="desc">
        اگر سوال یا مشکلی دارید می توانید با ایجاد درخواست پشتیبانی در سریعترین
        زمان ممکن آن را پیگیری کنید.
      </p>
      <a-button class="new-request-btn"
                type="primary"
                @click="newSupportRequestHandler">
        <i class="fas fa-plus"></i>
        &nbsp; ایجاد تیکت جدید
      </a-button>
    </div>

    <div v-else-if="user.tickets.length !== 0 && pageStatus !== 'new-ticket'"
         class="tickets"
         dir="rtl">
      <div class="heading">
        <h2 class="title">
          تیکت ها
        </h2>

        <a-button class="new-ticket-btn"
                  @click="newSupportRequestHandler">
          تیکت جدید
        </a-button>
      </div>

      <div class="tickets-wrapper">
        <div v-for="(ticket, i) of user.tickets"
             :key="`ticket-${i}`"
             class="ticket">
          <div class="id-wrapper">
            {{ ticket.id }}
          </div>

          <div class="title-wrapper">
            {{ ticket.title }}
          </div>

          <div class="type-wrapper">
            {{ translate(ticket.type) }}
          </div>

          <div class="status-wrapper">
            <p :class="ticketStatusClass(ticket.status)">
              {{ translate(ticket.status) }}
            </p>
          </div>

          <div class="actions-wrapper">
            <router-link :to="{ name: 'Account-Profile-Tickets-Ticket', params: { id: ticket.id } }">
              <a-button class="open-btn">
                باز کردن
              </a-button>
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <div v-else-if="pageStatus === 'new-ticket'"
         class="new-ticket">
      <new-support-req @done="pageStatus = 'no-ticket'"/>
    </div>
  </div>
</template>

<script>
/*
----- > Pages Status
- No ticket
- Tickets
- Ticket
- New ticket
*/

import { mapGetters } from 'vuex';
import NewSupportReq from '@/components/Account/Support/New-Support-Request.vue';
import Translator from '@/utils/Translator';

export default {
  name: 'Support-Request',
  components: {
    NewSupportReq,
  },
  data() {
    return {
      pageStatus: 'no-ticket',
    };
  },
  methods: {
    initPageStatus() {
      if (this.user.tickets.length) this.pageStatus = 'tickets';
    },
    newSupportRequestHandler() {
      this.pageStatus = 'new-ticket';
    },
    translate(enWord) {
      return Translator.translate(enWord);
    },
    ticketStatusClass(status) {
      let classList = null;
      switch (status) {
        case 'open':
          classList = 'text-green-700';
          break;
        default:
          classList = 'text-black';
          break;
      }
      return classList;
    },
  },
  computed: {
    ...mapGetters(['user']),
  },
  mounted() {
    this.initPageStatus();
  },
};
</script>

<style lang='scss' scoped>
.support-request-container {
  @apply bg-white p-3 md:p-10 rounded-xl;

  .no-support-request {
    @apply flex flex-col justify-center items-center py-32;
    direction: rtl;

    img {
      @apply w-1/2 md:w-1/4 lg:w-1/5 xl:w-1/6 mb-10;
    }

    .heading {
      @apply font-bold text-4xl mb-5;
    }

    .desc {
      @apply text-2xl mb-10;
    }

    .new-request-btn {
      @apply rounded-xl;
    }
  }

  .tickets {
    .heading {
      @apply flex justify-between items-center mb-10;

      .title {
        @apply font-bold text-3xl;
      }

      .new-ticket-btn {
        @apply rounded-xl shadow-none;
      }
    }

    .tickets-wrapper {
      @apply space-y-4;

      .ticket {
        @apply py-5 bg-gray-50 rounded-xl;
        // Grid
        @apply grid grid-cols-5;

        div {
          @apply flex items-center;

          &:first-child {
            @apply pr-5;
          }
        }

        .actions-wrapper {
          .open-btn {
            @apply hover:bg-blue-500 hover:text-white hover:border-blue-500 rounded-xl shadow-none;
          }
        }
      }
    }
  }
}
</style>
