<template>
  <div class="transactions-container">
    <transactions-filter v-model:field-price-from="transactionFilter.priceFrom"
                         v-model:field-price-to="transactionFilter.priceTo"
                         v-model:field-status="transactionFilter.status"
                         v-model:field-type="transactionFilter.type"
                         @filter-trigger="transactionFilterTrigger++"/>
    <TransactionsList :filter-change-trigger="transactionFilterTrigger"
                      :filter-data="transactionFilter"/>
  </div>
</template>

<script>
import TransactionsFilter from '@/components/Account/Transactions/Transactions-Filter.vue';
import TransactionsList from '@/components/Account/Transactions/Transactions-List.vue';

export default {
  name: 'Transactions',
  components: {
    TransactionsList,
    TransactionsFilter,
  },
  data() {
    return {
      transactionFilter: {
        type: 'all',
        status: 'all',
        priceFrom: 0,
        priceTo: 0,
      },
      transactionFilterTrigger: 0,
    };
  },
};
</script>

<style lang="scss" scoped>
.transactions-container {
  @apply space-y-10;
}
</style>
