<template>
  <simple-card class="minimal-wallet-container" dir="rtl">
    <div class="right-wrapper">
      <h3>
        {{ userCredit }}
      </h3>
    </div>

    <div class="left-wrapper">
      <a-button class="increase-credit-btn"
                @click="increaseCreditHandler"
                type="primary">
        افزایش اعتبار
      </a-button>
    </div>
  </simple-card>
</template>

<script>
import { mapGetters } from 'vuex';
import SimpleCard from '@/components/Elements/Simple-Card.vue';

export default {
  name: 'Minimal-Wallet',
  components: { SimpleCard },
  methods: {
    async increaseCreditHandler() {
      await this.$router.push({
        name: 'Account-Profile',
        query: { tab: 'increase-credit' },
      });
    },
  },
  computed: {
    ...mapGetters(['user']),
    userCredit() {
      return `
      موجودی حساب:
      ${this.user.credit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')}
      تومان
      `;
    },
  },
};
</script>

<style lang="scss" scoped>
.minimal-wallet-container {
  @apply bg-white p-10 rounded-xl border flex justify-between;

  .right-wrapper {
    @apply flex items-center;
  }

  .left-wrapper {
    .increase-credit-btn {
      @apply rounded-xl bg-white text-blue-500;
    }
  }
}
</style>
