<template>
  <div class="home-container">
    <hero class="hero-comp"/>
    <oracle-plus class="custom-container-m"/>
    <news :news-list="news" class="custom-container-m"/>
    <faq :questions="faqList" class="custom-container-m" title="پرسش های شما"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Faq from '@/components/Basic/FAQ.vue';
import OraclePlus from '@/components/Basic/Oracle-Plus.vue';
import Hero from '@/components/Essentials/Hero.vue';
import News from '@/components/Swiper/News.vue';

export default {
  name: 'Home',
  components: {
    News,
    Hero,
    Faq,
    OraclePlus,
  },
  data() {
    return {
      faqListData: [],
      news: [
        {
          title: 'رصدخانه مراغه',
          desc: 'یکی از قدیمی ترین رصدخانه های ایران...',
          link: '#',
          imgAddress: '/images/maraghe4.jpg',
        },
        {
          title: 'رودخانه صوفی چای',
          desc: 'این رودخانه با گذر از وسط شهر، زیبایی...',
          link: '#',
          imgAddress: '/images/maraghe3.jpg',
        },
        {
          title: 'گنبد کبود',
          desc: 'گنبد کبود برجی با طرح منشور ده ‌وجهی با ارتفاع ده متر است. قدمت...',
          link: '#',
          imgAddress: '/images/maraghe5.jpg',
        },
      ],
    };
  },
  computed: {
    ...mapGetters(['faqList']),
  },
};
</script>

<style lang="scss" scoped>
.home-container {
  @apply space-y-10 mb-8;

  .hero-comp {
    @apply mb-72 md:mb-52;
  }
}
</style>
