<template>
  <div class="transactions-filter-container">
    <horizontal-explanation-card
      class="filter-fields"
      desc="برای جستجو در لیست تراکنش‌های حساب خود پر کردن حداقل یک فیلد کافیست."
      fontAwesomeIcon="search"
      title="جتسجوی تراکنش">
      <div class="fields-inner-box">
        <div class="filter-type filter-field">
          <span class="label">
            نوع تراکنش
            <i v-if="filterType !== 'all'"
               class="fas fa-plus reset-btn"
               @click="fieldReset('filterType')"/>
          </span>
          <a-select
            v-model:value="filterType"
            class="w-full">
            <a-select-option v-for="(type, i) of transactionTypes"
                             :key="`transaction-type-${i}`"
                             :value="type"
                             dir="rtl">
              {{ translate(type) }}
            </a-select-option>
          </a-select>
        </div>

        <div class="filter-price-from filter-field">
          <span class="label">
            شروع قیمت از محدوده
            <i v-if="!!filterPriceFrom"
               class="fas fa-plus reset-btn"
               @click="fieldReset('filterPriceFrom')"/>
          </span>
          <a-input v-model:value.number="filterPriceFrom"
                   placeholder="مبلغ از"/>
        </div>

        <div class="filter-price-to filter-field">
          <span class="label">
            پایان قیمت در محدوده
            <i v-if="!!filterPriceTo"
               class="fas fa-plus reset-btn"
               @click="fieldReset('filterPriceTo')"/>
          </span>
          <a-input v-model:value.number="filterPriceTo"
                   placeholder="مبلغ تا "/>
        </div>

        <div class="filter-status filter-field">
          <span class="label">
            وضعیت تراکنش
            <i v-if="filterStatus !== 'all'"
               class="fas fa-plus reset-btn"
               @click="fieldReset('filterStatus')"/>
          </span>
          <a-select
            v-model:value="filterStatus"
            class="w-full">
            <a-select-option v-for="(status, i) of transactionsStatus"
                             :key="`transaction-type-${i}`"
                             :value="status"
                             dir="rtl">
              {{ translate(status) }}
            </a-select-option>
          </a-select>
        </div>

        <div class="search">
          <a-button block
                    class="btn"
                    type="primary"
                    @click="searchHandler">
            جستجو
          </a-button>
        </div>
      </div>
    </horizontal-explanation-card>
  </div>
</template>

<script>
import HorizontalExplanationCard from '@/components/Elements/Horizontal-Explanation-Card.vue';
import transactionTypes from '@/utils/data/Transactions/transaction-types';
import transactionsStatus from '@/utils/data/Transactions/transactions-status';
import Translator from '@/utils/Translator';

export default {
  name: 'Transactions-Filter',
  components: { HorizontalExplanationCard },
  emits: [
    'update:field-type',
    'update:field-price-from',
    'update:field-price-to',
    'update:field-status',
    'filter-trigger',
  ],
  data() {
    return {
      filterType: 'all',
      filterStatus: 'all',
      filterPriceFrom: '',
      filterPriceTo: '',
      transactionTypes: [
        'all',
        ...transactionTypes,
      ],
      transactionsStatus: [
        'all',
        ...transactionsStatus,
      ],
    };
  },
  methods: {
    translate(word) {
      return Translator.translate(word);
    },
    triggerIncreaseHandler() {
      this.$emit('filter-trigger');
    },
    searchHandler() {
      this.$emit('update:field-type', this.filterType);
      this.$emit('update:field-status', this.filterStatus);
      this.$emit('update:field-price-from', this.filterPriceFrom);
      this.$emit('update:field-price-to', this.filterPriceTo);
      this.triggerIncreaseHandler();
    },
    fieldReset(fieldName) {
      switch (fieldName) {
        case 'filterType':
          this.filterType = 'all';
          break;
        case 'filterStatus':
          this.filterStatus = 'all';
          break;
        case 'filterPriceFrom':
          this.filterPriceFrom = '';
          break;
        case 'filterPriceTo':
          this.filterPriceTo = '';
          break;
        default:
      }
      this.searchHandler();
    },
  },
};
</script>

<style lang="scss" scoped>
.transactions-filter-container {
  .filter-fields {
    .fields-inner-box {
      @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-10;

      .filter-field {
        span.label {
          @apply mb-3 block text-gray-500;

          .reset-btn {
            @apply pl-5 pr-3 cursor-pointer;
            transform: rotate(45deg);
          }
        }
      }
    }

    .search {
      .btn {
        @apply md:mt-11 rounded-lg;
      }
    }
  }
}
</style>
