<template>
  <div class="transactions-list-container">
    <template v-if="filteredTransactions.length">
      <template v-for="(transaction, i) of filteredTransactions"
                :key="`transaction-${i}`">
        <transaction :transaction-item="transaction"
                     class="transaction-wrapper"/>
      </template>
    </template>

    <div class="no-transaction-found" v-else>
      <h3 dir="rtl">
        تراکنشی یافت نشد!
      </h3>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Transaction from '@/components/Account/Transactions/Transaction.vue';

export default {
  name: 'Transactions-List',
  components: { Transaction },
  props: {
    filterData: {
      type: Object,
      required: true,
    },
    filterChangeTrigger: {
      type: Number,
      required: true,
      default: 0,
    },
  },
  data() {
    return {
      filteredTransactions: [],
    };
  },
  methods: {
    transactionFilter() {
      const { filterData } = this;
      const {
        type: filterType,
        status: filterStatus,
        priceFrom: filterPriceFrom,
        priceTo: filterPriceTo,
      } = filterData;

      let filteringChangeCounter = 0;

      // Type filtering
      if (filterType !== 'all') {
        this.filteredTransactions = this.user.transactions.filter((transaction) => transaction.type === filterType);
        filteringChangeCounter += 1;
      } else {
        this.filteredTransactions = this.user.transactions;
      }

      // price from filtering
      if (filterPriceFrom !== '') {
        this.filteredTransactions = this.filteredTransactions.filter((transaction) => transaction.amount >= filterPriceFrom);
        filteringChangeCounter += 1;
      } else if (filteringChangeCounter === 0) {
        this.filteredTransactions = this.user.transactions;
      }

      // price to filtering
      if (filterPriceTo !== '') {
        this.filteredTransactions = this.filteredTransactions.filter((transaction) => transaction.amount <= filterPriceTo);
        filteringChangeCounter += 1;
      } else if (filteringChangeCounter === 0) {
        this.filteredTransactions = this.user.transactions;
      }

      // Status filtering
      if (filterStatus !== 'all') {
        this.filteredTransactions = this.filteredTransactions.filter((transaction) => transaction.status === filterStatus);
        filteringChangeCounter += 1;
      } else if (filteringChangeCounter === 0) {
        this.filteredTransactions = this.user.transactions;
      }
    },
  },
  watch: {
    filterChangeTrigger() {
      this.transactionFilter();
    },
  },
  computed: {
    ...mapGetters(['user']),
  },
  beforeMount() {
    this.filteredTransactions = [...this.user.transactions];
  },
};
</script>

<style lang="scss" scoped>
.transactions-list-container {
  @apply space-y-8;

  .no-transaction-found {
    @apply bg-white p-10 rounded-xl border;

    h3 {
      @apply text-right;
    }
  }
}
</style>
