<template>
  <div class="transaction-container" dir="rtl">
    <div class="transaction-code">
      <span>
        {{ transactionItem.code }}
      </span>
    </div>

    <div class="transaction-type">
      <span>
        {{ translate(transactionItem.type) }}
      </span>
    </div>

    <div class="transaction-amount">
      <span class="amount">
        {{ transactionItem.amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') }}
        <span class="tuman">
          تومان
        </span>
      </span>
      <span class="tuman">
          تومان
        </span>
    </div>

    <div class="transaction-status">
      <div class="status-icon">
        <i class="fas fa-circle outer-icon">
          <i class="fas fa-circle inner-icon"
            :class="[ transactionItem.status ]"/>
        </i>
      </div>
      <span class="status-label">
        {{ translate(transactionItem.status) }}
      </span>
    </div>

    <div class="transaction-options">
      <a-dropdown>
        <a class="ant-dropdown-link w-12 flex justify-center" @click.prevent>
          <i class="fas fa-ellipsis-v"/>
        </a>
        <template #overlay>
          <a-menu>
            <a-menu-item @click="pay" v-if="transactionItem.status === 'awaiting-payment'">
              <a>پرداخت</a>
            </a-menu-item>
            <a-menu-item @click="cancelPay" v-if="transactionItem.status === 'awaiting-payment'">
              <a>انصراف از پرداخت</a>
            </a-menu-item>
            <a-menu-item @click="seeDetails">
              <a>مشاهده جزئیات</a>
            </a-menu-item>
          </a-menu>
        </template>
      </a-dropdown>
    </div>
  </div>
</template>

<script>
import Translator from '@/utils/Translator';

export default {
  name: 'Transaction',
  props: {
    transactionItem: {
      type: Object,
      required: true,
    },
  },
  methods: {
    translate(word) {
      return Translator.translate(word);
    },
    pay() {
      this.$message.error('به دلیل آزمایشی بودن وب سایت امکان پرداخت وجود ندارد');
    },
    cancelPay() {

    },
    seeDetails() {
      this.$message.error('به دلیل آزمایشی بودن وب سایت این بخش در دسترس نمی باشد');
    },
  },
};
</script>

<style lang="scss" scoped>
.transaction-container {
  @apply bg-white py-8 px-10 rounded-xl border;
  // Grid
  @apply grid grid-cols-6 md:grid-cols-10;

  .transaction-code {
    @apply col-span-1;
  }

  .transaction-type {
    // On mobile size
    @apply col-span-2;
    // On desktop size
    @apply md:col-span-3;
  }

  .transaction-amount {
    // On mobile size
    @apply col-span-1;
    // On desktop size
    @apply md:col-span-2;

    .amount {
      position: relative;

      .tuman {
        @apply inline md:hidden text-lg;
        position: absolute;
        right: 0;
        bottom: -1.5rem;
      }
    }

    .tuman {
      @apply hidden md:inline;
    }
  }

  .transaction-status {
    @apply flex flex-row-reverse justify-end;
    // On mobile size
    @apply col-span-1 gap-0;
    // On desktop size
    @apply md:col-span-3 gap-3;

    .status-icon {
      i.outer-icon {
        @apply text-gray-200;
        position: relative;

        i.inner-icon {
          @apply text-black text-sm;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translateX(30%) translateY(-6.5%);

          &.success {
            @apply text-green-500;
          }

          &.unsuccessful {
            @apply text-red-500;
          }

          &.awaiting-payment {
            @apply text-yellow-500;
          }
        }
      }
    }

    .status-label {
      @apply hidden md:block;
    }
  }

  .transaction-options {
    @apply col-span-1;
  }
}
</style>
