<template>
  <div class="invite-customer-club-container">
    <div class="right-wrapper">
      <img src="https://www.alibaba.ir/_assets/img/envelope.9f3b4db.svg"
           alt="تصویر به اشتراک گذاری لینک دعوت از مشتریان به باشگاه">
    </div>
    <div class="left-wrapper">
      <div class="invite-desc-wrapper">
        <h3 class="heading">
          ۱۵ امتیاز هدیه باشگاه مشتریان
        </h3>
        <p class="desc">
          با دعوت از دوستان‌تان از طریق لینک زیر، امتیاز هدیه بگیرید.
        </p>
      </div>
      <div class="invite-link-wrapper" @click="copyInviteLinkHandler">
        <span>
          {{ inviteLink }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { useClipboard } from '@vueuse/core';
import { ref } from 'vue';

const source = ref('');

export default {
  name: 'Invite-Customer-Club',
  methods: {
    copyInviteLinkHandler() {
      const {
        copy,
        copied,
        isSupported,
      } = useClipboard({ source });

      if (!isSupported) {
        this.$message.error('متاسفانه مرورگر شما از قابلیت کپی کردن پشتیبانی نمیکند');
      }

      copy(this.inviteLink);

      if (copied && isSupported) {
        this.$message.success('لینک دعوت به باشگاه مشتریان با موفقیت کپی شد');
      } else {
        this.$message.error('مشکلی در کپی کردن رخ داد، لطفا به پشتیبانی اطلاع دهید');
      }
    },
  },
  computed: {
    inviteLink() {
      return 'oracle.ir/invitation?r=gfg4$g286';
    },
  },
};
</script>

<style lang="scss" scoped>
.invite-customer-club-container {
  @apply flex justify-between flex-col md:flex-row;

  .right-wrapper {
    @apply mx-auto mb-5 md:mb-0;
  }

  .left-wrapper {
    @apply space-y-8 flex flex-col justify-center;
    .invite-desc-wrapper {
      @apply space-y-2;

      .heading {
        @apply font-bold text-2xl;
      }

      .desc {
        @apply text-gray-500 text-xl;
      }
    }

    .invite-link-wrapper {
      @apply px-5 py-5 border rounded-xl cursor-pointer;
      direction: ltr;

      span {
        @apply text-gray-500;
      }
    }
  }
}
</style>
