<template>
  <div class="user-bank-info-container profile-info">
    <div class="right-wrapper">
      <div class="card-number-label">
        <span>
          شماره کارت
          &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;
        </span>
      </div>

      <div class="account-number-label">
        <span>
          شماره حساب
        </span>
      </div>

      <div class="shaba-number-label">
        <span>
          شماره شبا
        </span>
      </div>
    </div>

    <div class="left-wrapper">
      <div class="card-number-content">
        <span>
          {{ cardNumber }}
        </span>
      </div>

      <div class="account-number-content">
        <span>
          {{ accountNumber }}
        </span>
      </div>

      <div class="shaba-number-content">
        <span>
          {{ shabaNumber }}
        </span>
      </div>
    </div>

    <div class="edit-info" v-if="editable">
      <span @click="openModalHandler">
        <i class="fas fa-pencil-alt fa-sm"></i>&nbsp;
        ویرایش
      </span>
    </div>

    <modal :class="{ 'hidden': !showModal }"
           class="modal-parent-styles"
           has-heading
           heading-title="ویرایش ایمیل"
           @submit="updateBankInfoHandler"
           @close-modal="showModal = false">
      <a-form
        autocomplete="on"
        name="basic">
        <a-form-item
          label="شماره کارت"
          name="card-number">
          <a-input v-model:value="copiedUser.bankInfo.cardNumber"/>
        </a-form-item>

        <a-form-item
          label="شماره حساب"
          name="account-number">
          <a-input v-model:value="copiedUser.bankInfo.accountNumber"/>
        </a-form-item>

        <a-form-item
          label="شماره شبا"
          name="shaba-number">
          <a-input v-model:value="copiedUser.bankInfo.shabaNumber"/>
        </a-form-item>
      </a-form>
    </modal>
    <div :class="{ 'hidden': !showModal }"
         class="modal-background-page"/>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';
import { cloneDeep } from 'lodash';
import Modal from '@/components/Elements/Modal.vue';

export default {
  name: 'Bank-Info',
  components: {
    Modal,
  },
  props: {
    editable: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      showModal: false,
      copiedUser: null,
    };
  },
  methods: {
    ...mapActions(['updateUser']),
    ...mapMutations(['updateUser', 'toggleModal']),
    openModalHandler() {
      this.showModal = true;
      this.toggleModal();
    },
    updateBankInfoHandler() {
      this.updateUser(this.copiedUser);
    },
  },
  computed: {
    ...mapGetters(['user']),
    cardNumber() {
      const { cardNumber } = this.user.bankInfo;
      return cardNumber || 'شماره کارتی ثبت نشده است';
    },
    accountNumber() {
      const { accountNumber } = this.user.bankInfo;
      return accountNumber || 'شماره حسابی وجود ندارد';
    },
    shabaNumber() {
      const { shabaNumber } = this.user.bankInfo;
      return shabaNumber || 'شماره شبا ثبت نشده است';
    },
  },
  watch: {
    user: {
      handler() {
        this.copiedUser = cloneDeep(this.user);
      },
      immediate: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.user-bank-info-container {
  @apply flex relative pb-14;
}
</style>
