<template>
  <div class="phone-number-container profile-info">
    <div class="right-wrapper">
      <div class="phone-number-label">
        <span>
          شماره موبایل
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
      </div>
    </div>

    <div class="left-wrapper">
      <div class="phone-number-content">
        <span dir="rtl">
          {{ phoneNumber }}
        </span>
      </div>
    </div>

    <div v-if="editable" class="edit-info">
      <span @click="openModalHandler">
        <i class="fas fa-pencil-alt fa-sm"></i>&nbsp;
        ویرایش
      </span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Phone-Number',
  props: {
    editable: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    ...mapGetters(['user']),
    phoneNumber() {
      return this.user.phoneNumber;
    },
  },
};
</script>

<style lang="scss" scoped>
.phone-number-container {
  @apply flex relative pb-14;
}
</style>
