<template>
  <div class="user-general-info profile-info">
    <div class="right-wrapper">
      <div class="username-label">
        <span>
          نام و نام خانوادگی
        </span>
      </div>

      <div class="sex-label">
        <span>
          جنسیت
        </span>
      </div>

      <div class="date-of-birth-label">
        <span>
          تاریخ تولد
        </span>
      </div>

      <div class="national-code-label">
        <span>
          کد ملی
        </span>
      </div>

      <div class="home-phone-number-label">
        <span>
          تلفن ثابت
        </span>
      </div>
    </div>

    <div class="left-wrapper">
      <div class="username-content">
        <span>
          {{ username }}
        </span>
      </div>

      <div class="sex-content">
        <span>
          {{ sex }}
        </span>
      </div>

      <div class="date-of-birth-content">
        <span>
          {{ birthday }}
        </span>
      </div>

      <div class="national-code-content">
        <span>
          {{ nationalCode }}
        </span>
      </div>

      <div class="home-phone-number-content">
        <span>
          {{ homePhoneNumber }}
        </span>
      </div>
    </div>

    <div class="edit-info" v-if="editable">
      <span @click="openModalHandler">
        <i class="fas fa-pencil-alt fa-sm"></i>&nbsp;
        ویرایش
      </span>
    </div>

    <modal :class="{ 'hidden': !showModal }"
           class="modal-parent-styles modal"
           has-heading
           heading-title="ویرایش ایمیل"
           @submit="updateUserHandler"
           @close-modal="showModal = false">
      <a-form
        autocomplete="on"
        class="modal-inputs"
        name="basic">
        <a-form-item
          label="نام"
          name="card-number">
          <a-input v-model:value="copiedUser.username.firstName"/>
        </a-form-item>

        <a-form-item
          label="نام خانوادگی"
          name="card-number">
          <a-input v-model:value="copiedUser.username.lastName"/>
        </a-form-item>

        <a-form-item
          label="تاریخ تولد"
          name="card-number">
          <date-selector v-model:date="copiedUser.dateOfBirth"/>
        </a-form-item>

        <a-form-item
          label="کد ملی"
          name="card-number">
          <a-input v-model:value="copiedUser.nationalCode"/>
        </a-form-item>

        <a-form-item
          label="تلفن ثابت"
          name="card-number">
          <a-input v-model:value="copiedUser.homePhoneNumber"/>
        </a-form-item>

        <a-form-item
          label="جنیست"
          style="width: 100%"
          name="card-number">
          <a-select
            v-model:value="copiedUser.sex">
            <a-select-option value="male">آقا</a-select-option>
            <a-select-option value="female">خانم</a-select-option>
          </a-select>
        </a-form-item>
      </a-form>
    </modal>
    <div :class="{ 'hidden': !showModal }"
         class="modal-background-page"/>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import { cloneDeep } from 'lodash';
import Modal from '@/components/Elements/Modal.vue';
import DateSelector from '@/components/Elements/Date-Selector.vue';

export default {
  name: 'User-General-Info',
  components: { DateSelector, Modal },
  props: {
    editable: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      showModal: false,
      copiedUser: null,
    };
  },
  methods: {
    ...mapMutations(['updateUser', 'toggleModal']),
    openModalHandler() {
      this.showModal = true;
      this.toggleModal();
    },
    updateUserHandler() {
      this.updateUser(this.copiedUser);
    },
  },
  computed: {
    ...mapGetters(['user']),
    username() {
      const { username } = this.user;
      return `${username.firstName} ${username.lastName}`;
    },
    sex() {
      return this.user.sex === 'male'
        ? 'آقا'
        : 'خانم';
    },
    birthday() {
      return this.user.dateOfBirth;
    },
    nationalCode() {
      return this.user.nationalCode;
    },
    homePhoneNumber() {
      return this.user.homePhoneNumber;
    },
  },
  watch: {
    user: {
      handler() {
        this.copiedUser = cloneDeep(this.user);
      },
      immediate: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.user-general-info {
  @apply flex relative pb-14;
}
</style>
