<template>
  <div class="user-email-container profile-info">
    <div class="right-wrapper">
      <div class="email-label">
        <span>
          ایمیل
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
      </div>
    </div>

    <div class="left-wrapper">
      <div class="email-content">
        <span>
          {{ email }}
        </span>
      </div>

      <div v-if="editable" class="edit-info">
      <span @click="openModalHandler">
        <i class="fas fa-pencil-alt fa-sm"></i>&nbsp;
        ویرایش
      </span>
      </div>
    </div>

    <modal :class="{ 'hidden': !showModal }"
           class="modal-parent-styles"
           has-heading
           heading-title="ویرایش ایمیل"
           @submit="updateEmailHandler"
           @close-modal="showModal = false">
      <a-form
        autocomplete="on"
        name="basic">
        <a-form-item
          label="ایمیل"
          name="email">
          <a-input v-model:value="copiedUser.email"/>
        </a-form-item>
      </a-form>
    </modal>
    <div :class="{ 'hidden': !showModal }"
         class="modal-background-page"></div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import Modal from '@/components/Elements/Modal.vue';

export default {
  name: 'User-Email',
  components: { Modal },
  props: {
    editable: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      showModal: false,
      copiedUser: null,
    };
  },
  methods: {
    ...mapMutations(['toggleModal', 'updateUser']),
    openModalHandler() {
      this.showModal = true;
      this.toggleModal();
    },
    updateEmailHandler() {
      this.updateUser(this.copiedUser);
    },
  },
  computed: {
    ...mapGetters({
      user: 'user',
    }),
    email() {
      return this.user.email || 'ایمیلی وارد نشده است';
    },
  },
  watch: {
    user: {
      handler() {
        this.copiedUser = { ...this.user };
      },
      immediate: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.user-email-container {
  @apply flex relative pb-14;
}
</style>
