@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
	font-family: dana  !important;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: dana !important;
}
h1 {
	font-weight: bold;
}
blockquote {
	font-weight: 700;
	padding: 10px;
	border: 1px dashed #666666;
}
