<template>
  <div ref="heroContainer"
       :style="{ background: containerBgImage }"
       class="custom-hero-container"
       dir="rtl">
    <div class="overlay custom-container-p">
      <h1 class="title">
        {{ title }}
      </h1>

      <p class="desc">
        {{ desc }}
      </p>
    </div>
  </div>
</template>

<script>
import bgImage
from '../../../public/images/passenger-airplane-flying-above-clouds-during-sunset.jpg';

const required = true;

export default {
  name: 'Custom-Hero',
  props: {
    title: {
      type: String,
      default: 'عنوان را وارد کنید',
      required,
    },
    desc: {
      type: String,
      default: 'توضیحات را وارد کنید',
    },
    img: {
      type: String,
      default: '',
    },
  },
  computed: {
    containerBgImage() {
      return `
        url(${bgImage}) center
      `;
    },
  },
};
</script>

<style lang="scss" scoped>
.custom-hero-container {
  .overlay {
    @apply pt-128 pb-20;
    @apply w-full h-full;
    background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));

    .title {
      @apply text-4xl text-white;
    }

    .desc {
      @apply mt-4 text-2xl text-white;
    }
  }
}
</style>
