<template>
  <div class="date-selector-container">
    <date-picker ref="date-picker"
                 v-model="pickedDate"
                 :placeholder="placeHolder"/>
  </div>
</template>

<style lang="scss" scoped>
.date-selector-container {
  .date-picker-wrapper {
    @apply py-5 pr-5 pl-28 text-gray-500 border cursor-pointer;
    border-radius: .7rem;
    position: relative;
  }
}
</style>

<script>
export default {
  name: 'Date-Selector',
  emits: ['update:date'],
  props: {
    date: null,
    placeHolder: {
      type: String,
      default: 'انتخاب کنید',
    },
  },
  data() {
    return {
      pickedDate: '',
    };
  },
  watch: {
    pickedDate(newVal) {
      this.$emit('update:date', newVal);
    },
  },
  methods: {
    openHandler() {
      console.log('date picker opened');
    },
    closeHandler() {
      console.log('date picker closed');
    },
  },
};
</script>
