<template>
  <div class="future-card-container">
    <div class="icon-box">
      <!-- TODO: Fix Icons -->
      <i v-if="fontAwesomeIcon"
         :class="['fas', `fa-${fontAwesomeIcon}`, 'text-yellow-600']"></i>

      <!-- TODO: Fix icon dynamic image loading -->
      <i v-else/>
    </div>

    <div class="heading-box">
      <h3>
        {{ title }}
      </h3>
    </div>

    <div class="desc-box">
      <p>
        {{ desc }}
      </p>
    </div>
  </div>
</template>

<script>
const required = true;

export default {
  name: 'Future-Card',
  props: {
    title: {
      type: String,
      default: 'عنوان ویژگی را وارد کنید',
      required,
    },
    desc: {
      type: String,
      default: 'توضیحات ویژگی را وارد کنید',
      required,
    },
    fontAwesomeIcon: {
      type: String,
      default: null,
    },
    customIcon: {
      type: String,
      default: null,
    },
  },
};
</script>

<style lang="scss" scoped>
.future-card-container {
  @apply bg-white py-10 px-7 text-center rounded-xl border;

  .icon-box {

  }

  .heading-box {
    @apply mb-5;

    h3 {
      @apply text-2xl text-gray-700;
    }
  }

  .desc-box {
    p {
      @apply text-gray-500;
      direction: rtl;
    }
  }
}
</style>
