<template>
  <div class="horizontal-explanation-card" dir="rtl">
    <div class="heading-box">
      <i v-if="!noIcon"
         :class="[ 'fas', `fa-${fontAwesomeIcon}`, 'xl' ]"/>
      <h2 class="title">
        {{ title }}
      </h2>
    </div>

    <div class="separator">
      <hr>
    </div>

    <div class="content-box">
      <p class="desc">
        {{ desc }}
      </p>
    </div>

    <div class="slot-content-box">
      <slot></slot>
    </div>
  </div>
</template>

<script>
const required = true;

export default {
  name: 'Horizontal-Explanation-Card',
  props: {
    title: {
      type: String,
      default: 'لطفا عنوان کادر توضیح را وارد کنید',
      required,
    },
    desc: {
      type: String,
      default: null,
    },
    fontAwesomeIcon: {
      type: String,
      default: 'info-circle',
    },
    noIcon: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.horizontal-explanation-card {
  @apply border rounded-xl bg-white;

  .heading-box, .content-box {
    @apply p-10;
  }

  .heading-box {
    @apply flex gap-5;

    .title {
      @apply font-bold text-2xl text-gray-700;
    }
  }

  .content-box {
    .desc {
      @apply leading-10 text-justify;
    }
  }

  .slot-content-box {
    @apply p-10 pt-0;
  }
}
</style>
