<template>
  <on-click-outside class="modal-container"
                    @trigger="closeModalHandler">
    <div :class="{ 'hidden': !hasHeading }"
         class="top-wrapper">
      {{ headingTitle }}
    </div>

    <div class="content-wrapper">
      <slot/>
    </div>

    <div class="bottom-wrapper">
      <a-button :disabled="submitBtnLoadingState"
                block
                class="close-btn btn"
                size="large"
                @click="closeModalHandler">
        لغو
      </a-button>

      <a-button :loading="submitBtnLoadingState"
                block
                class="submit-btn btn"
                size="large"
                @click="submitHandler">
        <span v-if="submitBtnLoadingState">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        ذخیره
      </a-button>
    </div>
  </on-click-outside>
</template>

<script>
import { mapMutations } from 'vuex';
import { OnClickOutside } from '@vueuse/components';

export default {
  name: 'Modal',
  emits: ['closeModal', 'submit'],
  components: {
    OnClickOutside,
  },
  props: {
    hasHeading: {
      type: Boolean,
      default: false,
    },
    headingTitle: {
      type: String,
      default: 'عنوان مودال را انتخاب نکرده اید',
    },
    saveButtonText: {
      type: String,
      default: 'ذخیره',
    },
    pauseOnSubmit: {
      type: Boolean,
      default: true,
    },
    pauseOnSubmitSec: {
      type: Number,
      default: 2,
    },
  },
  data() {
    return {
      submitBtnLoadingState: false,
    };
  },
  methods: {
    ...mapMutations(['toggleModal']),
    closeModalHandler() {
      this.$emit('closeModal');
      this.toggleModal();
    },
    submitHandler() {
      const self = this;

      this.submitBtnLoadingState = true;

      setTimeout(() => {
        this.$emit('submit');
        self.submitBtnLoadingState = false;
        this.closeModalHandler();
      }, this.pauseOnSubmitSec * 1000);
    },
  },
};
</script>

<style lang="scss" scoped>
.modal-container {
  @apply w-4/5 md:w-3/5 lg:w-3/6 xl:w-1/4;

  // General
  @apply bg-white rounded-3xl shadow-xl;
  height: content-box;

  .top-wrapper {
    @apply py-7 px-10;
    border-bottom: 2px #eaeaea solid;
  }

  .content-wrapper {
    @apply p-10 pb-0;
  }

  .bottom-wrapper {
    @apply p-10;
    // Flex
    @apply flex flex-col-reverse md:flex-row gap-5 md:gap-10;

    .btn {
      @apply rounded-xl;
    }

    .close-btn {
      @apply text-gray-500;
      border-color: rgba(0, 0, 0, .3);
    }

    .submit-btn {
      @apply bg-blue-600 text-white border-0;
    }
  }
}
</style>
