<template>
  <div class="multi-separated-inputs-container">
    <div class="inputs-wrapper">
      <div v-for="(input, i) of inputs"
           :key="`input-${i}`"
           class="input-wrapper"
           @click="inputWrapperClick(i)"
           @keydown.delete="goPrevInput(i)"
           @keydown.enter="goNextInput(i)">
        <input :ref="`input-${i}`"
               v-model="inputs[i.toString()]"
               class="input"
               maxlength="1"
               @input="inputChangeHandler(i)">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Multi-Separated-Inputs',
  emits: ['update:code'],
  props: {
    inputsAmount: {
      type: Number,
      default: 5,
    },
    onlyNumber: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      inputs: {},
      codeChanges: 0,
    };
  },
  watch: {
    codeChanges() {
      const code = Object.entries(this.inputs).reduce((previousValue, currentValue) => previousValue + currentValue[1], '');
      this.$emit('update:code', code);
    },
  },
  methods: {
    inputWrapperClick() {
      let emptyInputIndex = Object.entries(this.inputs)
        .findIndex((input) => input[1] === '');

      if (emptyInputIndex === -1) emptyInputIndex = this.inputsAmount - 1;

      this.getInputElByRef(emptyInputIndex)
        .focus();
    },
    goPrevInput(inputIndex) {
      if (Number(inputIndex) === 0) return;
      this.getInputElByRef(inputIndex - 1)
        .focus();
      this.inputs[inputIndex] = '';
    },
    goNextInput(inputIndex) {
      if (Number(inputIndex) + 1 === this.inputsAmount) return;

      if (this.inputs[inputIndex] !== '') {
        this.getInputElByRef(Number(inputIndex) + 1)
          .focus();
      }
    },
    getInputElByRef(refIndex) {
      return this.$refs[`input-${refIndex}`][0];
    },
    inputChangeHandler(inputIndex) {
      // Get input value
      const el = this.getInputElByRef(inputIndex);
      const elVal = el.value;
      // eslint-disable-next-line no-restricted-globals
      if (elVal === ' ' || isNaN(elVal)) {
        el.value = '';
        return;
      }

      this.goNextInput(inputIndex);
      // eslint-disable-next-line no-plusplus
      this.codeChanges++;
    },
  },
  beforeMount() {
    const self = this;

    // Making inputs values
    if (Object.keys(this.inputs).length === 0) {
      Array.from(Array(this.inputsAmount)
        .keys())
        .forEach((val) => {
          self.inputs[`${val}`] = '';
        });
    }
  },
  mounted() {
    this.getInputElByRef(0).focus();
  },
};
</script>

<style lang="scss" scoped>
.multi-separated-inputs-container {
  .inputs-wrapper {
    @apply flex gap-7;
    .input-wrapper {
      @apply flex justify-center w-16 h-16 border-2 rounded-xl cursor-text;
      .input {
        @apply rounded-xl;
        width: 50%;
        height: 100%;
        transform: translateX(28%);
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
