<template>
  <div :class="[bgClass]"
       class="simple-card">
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'Simple-Card',
  props: {
    bgClass: {
      type: String,
      default: 'bg-white',
    },
  },
};
</script>

<style lang="scss" scoped>
.simple-card {
  @apply rounded-xl border p-10;
}
</style>
