<template>
   <div class="simple-paginator-container">
      <div class="prev-wrapper">
        <a-button type="primary"
                  @click="prev"
                  class="prev-btn"
                  :disabled="currentPaginatorCount === 0">
          مرحله قبلی
        </a-button>
      </div>

     <span dir="rtl">
       {{ currentPaginatorCount+1 }} از {{ pagination.length }}
     </span>

      <div class="next-wrapper">
        <a-button type="primary"
                  @click="next"
                  v-if="currentPaginatorCount !== pagination.length-1"
                  :disabled="pagination[currentPaginatorCount+1].locked"
                  class="next-btn">
          مرحله بعدی
        </a-button>

        <a-button type="primary"
                  @click="finish"
                  :disabled="doneLocked"
                  v-else
                  class="next-btn">
          {{ lastButtonText }}
        </a-button>
      </div>
   </div>
</template>

<script>
export default {
  name: 'Simple-Paginator',
  emits: ['finish', 'next', 'prev'],
  props: {
    pagination: {
      type: Array,
      required: true,
    },
    showPageCount: {
      type: Boolean,
      required: false,
      default: true,
    },
    doneLocked: {
      type: Boolean,
      required: true,
      default: true,
    },
    lastButtonText: {
      type: String,
      required: false,
      default: 'اتمام',
    },
  },
  data() {
    return {
      currentPaginatorCount: 0,
    };
  },
  methods: {
    prev() {
      if (this.currentPaginatorCount !== 0) {
        this.currentPaginatorCount -= 1;
        this.$emit('prev', this.currentPaginatorCount);
      }
    },
    next() {
      if (this.currentPaginatorCount !== this.pagination.length) {
        this.currentPaginatorCount += 1;
        this.$emit('next', this.currentPaginatorCount);
      }
    },
    finish() {
      this.$emit('finish');
    },
  },
};
</script>

<style lang="scss" scoped>
.simple-paginator-container {
  @apply flex justify-between items-center flex-row-reverse;
  // padding
  @apply p-7;

  .prev-wrapper, .next-wrapper {
    button {
      @apply rounded-xl shadow-none;
    }

    .next-btn {
      @apply px-10;
    }
  }
}
</style>
