<template>
  <div class="social-media-links">
    <a v-for="social of socialMediaLinks" :key="social.icon" :href="social.link">
      <i :class="['fab', `fa-${social.icon}`, 'fa-xl']"></i>
    </a>
  </div>
</template>

<script>
export default {
  name: 'Social-Media',
  data() {
    return {
      socialMediaLinks: [
        {
          title: 'تلگرام',
          icon: 'telegram-plane',
          link: '#',
        },
        {
          title: 'تلگرام',
          icon: 'youtube',
          link: '#',
        },
        {
          title: 'تلگرام',
          icon: 'twitter',
          link: '#',
        },
        {
          title: 'تلگرام',
          icon: 'discord',
          link: '#',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.social-media-links {
  @apply space-x-5;

  a {
    i {
      @apply text-gray-500 hover:text-gray-900;
      // Animation
      @apply transition-colors duration-150;
    }
  }
}
</style>
