<template>
  <on-click-outside @trigger="closeSelectorsList">
    <div :class="[ block ? 'w-full' : 'w-128' ]"
         class="two-way-select-container"
         dir="rtl">
      <section class="select-field-1 border border-gray-200"
               :class="{ 'border-gray-400': selectorOneOpen }"
               @click.prevent="selectorOneHandler">
        <div class="selector">
        <span>
          {{
            selectorOneSelection ? selectorOneSelection.name : selectorOnePlaceholder ? selectorOnePlaceholder : 'انتخاب کنید'
          }}
        </span>
        </div>
      </section>

      <div v-if="reverse"
           class="reverse-btn"
           @click="reverseHandler">
        <i class="fas fa-exchange-alt"></i>
      </div>

      <section class="select-field-2 border border-gray-200"
               :class="{ 'border border-gray-400': selectorTwoOpen }"
               @click.prevent="selectorTwoHandler">
        <div class="selector">
        <span>
          {{
            selectorTwoSelection
              ? selectorTwoSelection.name
              : selectorTwoPlaceholder
                ? selectorTwoPlaceholder
                : 'انتخاب کنید'
          }}
        </span>
        </div>
      </section>

      <div id="selectionList"
           :class="selectorListClass"
           class="selection-list">
        <ul>
          <li v-for="(item, index) of whichToRender === 1 ? selectorOneList : selectorTwoList"
              :key="`${item.val}-${index}`"
              :class="{ 'bg-blue-400 text-white': selectorItemClass(item.val), 'hidden': item.val === (selectorOneSelection !== null ? selectorOneSelection.val : '')}"
              @click="selectorItemHandler(index)">
          <span>
            {{ item.name }}
          </span>
          </li>
        </ul>
      </div>
    </div>
  </on-click-outside>
</template>

<script>
import { OnClickOutside } from '@vueuse/components';

const required = true;

export default {
  name: 'TwoWaySelect',
  components: {
    OnClickOutside,
  },
  props: {
    reverse: {
      type: Boolean,
      default: false,
    },
    block: {
      type: Boolean,
      default: false,
    },
    selectorOnePlaceholder: {
      type: String,
      default: '',
    },
    selectorTwoPlaceholder: {
      type: String,
      default: '',
    },
    selectorOneList: {
      type: Array,
      required,
    },
    selectorTwoList: {
      type: Array,
      required,
    },
  },
  emits: ['selectorOneEmit', 'selectorTwoEmit'],
  data() {
    return {
      selectorOneOpen: false,
      selectorTwoOpen: false,
      whichToRender: null,
      selectorOneSelection: null,
      selectorTwoSelection: null,
    };
  },
  methods: {
    selectorOneHandler() {
      this.moveSelectionList(1);
    },
    selectorTwoHandler() {
      this.moveSelectionList(2);
    },
    moveSelectionList(selector) {
      if (selector === 1) {
        if (selector === 1 && this.selectorOneOpen) {
          this.selectorOneOpen = false;
          return;
        }

        this.selectorOneOpen = true;
        this.selectorTwoOpen = false;
        this.whichToRender = 1;
      } else {
        if (this.selectorTwoOpen) {
          this.selectorTwoOpen = false;
          return;
        }

        this.selectorTwoOpen = true;
        this.selectorOneOpen = false;
        this.whichToRender = 2;
      }
    },
    selectorItemHandler(index) {
      if (this.whichToRender === 1) {
        this.selectorOneSelection = this.selectorOneList[index];
        this.selectorTwoHandler();
      } else {
        this.selectorTwoSelection = this.selectorTwoList[index];
        this.selectorTwoOpen = false;
      }
    },
    selectorItemClass(val) {
      if (this.whichToRender === 1 || this.selectorOneSelection === null) {
        return false;
      }

      if (this.whichToRender === 2 || this.selectorTwoSelection === null) {
        return false;
      }

      if (this.whichToRender === 1) {
        return this.selectorOneSelection.val === val;
      }
      return this.selectorTwoSelection.val === val;
    },
    reverseHandler() {
      const { selectorOneSelection } = this;
      this.selectorOneSelection = this.selectorTwoSelection;
      this.selectorTwoSelection = selectorOneSelection;
    },
    closeSelectorsList() {
      this.selectorOneOpen = false;
      this.selectorTwoOpen = false;
    },
  },
  watch: {
    selectorOneSelection(newVal) {
      this.$emit('selectorOneEmit', newVal);
      if (this.selectorOneSelection.val === (this.selectorTwoSelection !== null ? this.selectorTwoSelection.val : '')) {
        this.selectorTwoSelection = null;
      }
    },
    selectorTwoSelection(newVal) {
      this.$emit('selectorTwoEmit', newVal);
    },
  },
  computed: {
    selectorListClass() {
      if (this.selectorOneOpen) return 'right-0';
      if (this.selectorTwoOpen) return 'left-0';
      return 'hidden';
    },
  },
};
</script>

<style lang="scss" scoped>
.two-way-select-container {
  @apply flex bg-white relative;
  border-radius: .7rem;

  .select-field-1 {
    border-radius: 0 .7rem .7rem 0;
  }

  .select-field-2 {
    border-radius: .7rem 0 0 .7rem;

    .selector {
      span {
        @apply mr-5;
      }
    }
  }

  .select-field-1, .select-field-2 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    .selector {
      @apply px-5 py-5;

      i.icon {
        @apply ml-2;
      }

      span, i.icon {
        @apply text-gray-500;
      }

      span {
        @apply text-2xl;
      }
    }
  }

  .reverse-btn {
    @apply bg-gray-200 text-gray-600;
    position: absolute;
    left: 50%;
    border-radius: 100rem;
    padding: 1rem;
    transform: translate(-50%, 5%) scale(.75, .75);
    cursor: pointer;

    i {
      @apply pt-2 px-2;
    }
  }

  .select-field-2 {
    width: 50%;
  }

  .selection-list {
    @apply absolute border shadow-xl;
    z-index: 100;
    width: 50%;
    top: 5.5rem;
    background-color: white;
    padding: 1rem;
    border-radius: .7rem;
    transition: all 1s linear;

    ul {
      @apply space-y-3 cursor-pointer;

      li {
        @apply px-3 py-1 rounded-lg transition-colors duration-150;

        &:hover {
          @apply bg-gray-100;
        }
      }
    }
  }
}
</style>
