<template>
  <div class="confirm-information-container">
    <ticket-info :travel="travel"/>

    <passengers-overview :passengers="passengers"
                         v-model:travel-price="travelPrice"
                         :travel-pricing="travel.price"/>

    <ticket-offer/>

    <section class="confirm-info">
      <a-button @click="$emit('next')"
                size="large"
                class="confirm-btn"
                type="primary">
        <span class="mr-3">
          پرداخت
          {{ travelPriceCompute }}
          تومان
        </span>
        <i class="icon fa-solid fa-check fa-lg"/>
      </a-button>
    </section>
  </div>
</template>

<script>
import TicketInfo from '@/components/Travel/Register/Confirm-Information/Ticket-Info.vue';
import PassengersOverview
from '@/components/Travel/Register/Confirm-Information/Passengers-Overview.vue';
import TicketOffer from '@/components/Travel/Register/Confirm-Information/Ticket-Offer.vue';
import PriceSeparator from '@/utils/Price-Separator';

export default {
  name: 'Confirm-Information',
  components: { TicketOffer, PassengersOverview, TicketInfo },
  props: {
    passengers: {
      type: Array,
      required: true,
    },
    travel: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      travelPrice: null,
    };
  },
  computed: {
    travelPriceCompute() {
      return this.travelPrice === null ? 'وجه' : PriceSeparator(this.travelPrice);
    },
  },
};
</script>

<style lang="scss" scoped>
.confirm-information-container {
  @apply space-y-10;

  .confirm-info {
    @apply bg-white p-10 border rounded-xl;

    .confirm-btn {
      @apply rounded-xl;

      .icon {
        transform: translateY(1.5px);
      }
    }
  }
}
</style>
