<template>
  <div class="passengers-profile-container">
    <travel-overview/>
    <a-alert :message="warningMessage"
             dir="rtl"
             show-icon
             type="warning"/>
    <travel-passengers @next="updatePassengers"/>
  </div>
</template>

<script>
import TravelOverview from '@/components/Travel/Register/Passengers-Data/Travel-Overview.vue';
import TravelPassengers from '@/components/Travel/Register/Passengers-Data/Travel-Passengers.vue';

export default {
  name: 'Passengers-Profile',
  components: {
    TravelPassengers,
    TravelOverview,
  },
  emits: ['update:passengers'],
  data() {
    return {
      warningMessage: 'طبق اعلام سازمان هواپیمایی کشوری، از پرواز افرادی که تا ۱۴ روز قبل از تاریخ پرواز تست کرونای مثبت داشته‌اند، جلوگیری می‌شود. مسئولیت عدم پذیرش مسافران و همچنین هزینه‌ استرداد در این شرایط به عهده مسافر است. اطلاعات بیشتر درباره محدودیت‌های تردد را در oracle.ir/mag مشاهده کنید.',
    };
  },
  methods: {
    updatePassengers(passengers) {
      this.$emit('update:passengers', passengers);
    },
  },
};
</script>

<style lang="scss" scoped>
.passengers-profile-container {
  @apply flex flex-col gap-10;
}
</style>
