<template>
  <div class="travel-register-container">
    <passengers-profile v-if="currentStep === 'passengers-profile'"
                        v-model:passengers="passengers"/>

    <confirm-information v-if="currentStep === 'confirm-information'"
                         :travel="travel"
                         @next="$emit('nextStep')"
                         :passengers="passengers"/>
  </div>
</template>

<script>
import PassengersProfile from '@/components/Travel/Register/Passengers-Profile.vue';
import ConfirmInformation from '@/components/Travel/Register/Confirm-Information.vue';

export default {
  name: 'Travel-Register-Container',
  components: { ConfirmInformation, PassengersProfile },
  emits: ['nextStep', 'prevStep'],
  props: {
    currentStep: {
      type: String,
      required: true,
    },
    travel: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      passengers: [],
      registeringCurrentStep: null,
    };
  },
  watch: {
    passengers() {
      this.$emit('next-step');
    },
  },
};
</script>

<style scoped>

</style>
