<template>
  <div class="travel-register-stepper-container" dir="rtl">
    <div class="steps">
      <div v-for="(step, i) of steps"
           :key="`step-${i}`"
           :class="[step.status ? 'text-green-600' : steps[i-1].status === true ? 'text-gray-600' : 'text-gray-300']"
           class="step">
        <i :class="['fa-solid', `fa-${step.icon}`, 'fa-xl']"
           class="icon"></i>
        <span class="label">
          {{ i + 1 }}.
          {{ step.label }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Travel-Register-Stepper',
  props: {
    steps: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.travel-register-stepper-container {
  .steps {
    @apply flex justify-between bg-white rounded-xl border;
    // Padding
    @apply px-5 md:px-32 lg:px-80 py-11 pb-5;

    .step {
      @apply flex flex-col items-center gap-7;
    }
  }
}
</style>
