<template>
  <div class="travel-register-page-container custom-container-p">
    <travel-register-stepper
      class="travel-register-stepper"
      :steps="steps"/>

    <travel-register-container @next-step="nextStep"
                               @prev-step="prevStep"
                               :travel="travel"
                               :current-step="currentStep.enLabel"/>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import TravelRegisterStepper from '@/components/Travel/Register/Travel-Register-Stepper.vue';
import TravelRegisterContainer from '@/components/Travel/Register/Travel-Register-Container.vue';

export default {
  name: 'Travel-Register',
  components: {
    TravelRegisterContainer,
    TravelRegisterStepper,
  },
  data() {
    return {
      travel: null,
      steps: [
        {
          label: 'انتخاب پرواز',
          enLabel: 'select-travel',
          status: true,
          icon: 'circle-check',
        },
        {
          label: 'مشخصات مسافران',
          enLabel: 'passengers-profile',
          status: false,
          icon: 'user-group',
        },
        {
          label: 'تایید اطلاعات',
          enLabel: 'confirm-information',
          status: false,
          icon: 'clipboard-check',
        },
        {
          label: 'پرداخت',
          enLabel: 'pay',
          status: false,
          icon: 'file-invoice-dollar',
        },
        {
          label: 'صدور بلیط',
          enLabel: 'issuance-ticket',
          status: false,
          icon: 'ticket',
        },
      ],
      currentStep: null,
    };
  },
  methods: {
    ...mapMutations(['setCurrentTravel']),
    lastTrueStepIndex() {
      return this.steps.filter((step) => step.status === true).length;
    },
    prevStep() {
      const lastTrueStepIndex = this.lastTrueStepIndex();
      if (lastTrueStepIndex === 1) return;
      this.steps[lastTrueStepIndex - 1].status = false;
    },
    nextStep() {
      const lastTrueStepIndex = this.lastTrueStepIndex();
      if (lastTrueStepIndex === this.steps.length) return;
      this.steps[lastTrueStepIndex].status = true;
    },
    initCurrentStep() {
      const lastStepIndex = this.lastTrueStepIndex();
      this.currentStep = this.steps[lastStepIndex];
    },
  },
  watch: {
    steps: {
      handler() {
        this.initCurrentStep();
      },
      deep: true,
      immediate: true,
    },
  },
  computed: {
    ...mapGetters(['innerTravels']),
  },
  beforeMount() {
    this.travel = this.innerTravels.filter((travel) => travel.id === +this.$route.query.id)[0] || null;
    if (this.travel !== null) this.setCurrentTravel(this.travel);
  },
};
</script>

<style lang="scss" scoped>
.travel-register-page-container {
  @apply pt-36 pb-16;

  .travel-register-stepper {
    @apply mb-10;
  }
}
</style>
