<template>
  <div class="travels-container custom-container-p">
    <section class="travels-wrapper">
      <div class="sort-travels">
        <h3 class="label">
          مرتب سازی براساس:
        </h3>

        <a-spin :spinning="dataProcessLoading"
                tip="درحال پردازش">
          <a-radio-group v-model:value="filters.sortBy">
            <a-radio-button value="latest">دیرترین</a-radio-button>
            <a-radio-button value="earliest">زودترین</a-radio-button>
            <a-radio-button value="most-expensive">گرانترین</a-radio-button>
            <a-radio-button value="cheapest">ارزانترین</a-radio-button>
            <a-radio-button value="oracle-suggest">پیشنهاد اوراکل</a-radio-button>
            <a-radio-button value="no-filter">بدون فیلتر</a-radio-button>
          </a-radio-group>
        </a-spin>
      </div>

      <div class="travels-list">
        <div v-for="(travel, i) of filteredTravels"
             :key="`travel-${i}`"
             class="travel">
          <div class="brand">
            <img :src="travel.brand.img" alt="">
            <h3>
              {{ translate(travel.brand.name) }}
            </h3>
          </div>

          <div class="content">
            <div class="tags">
              <a-tag color="blue">
                {{ travel.otherInfo.aircraft }}
              </a-tag>
            </div>

            <div class="fly-time">
              <div class="fly">
                <h3>
                  <span class="city">
                    {{ translate(travel.from.full) }}
                  </span>
                  -
                  <span class="time">
                    {{ travelTimeFixer(travel.time.fly.h, travel.time.fly.m) }}
                  </span>
                </h3>
              </div>

              <div class="separator">
                <img alt="" src="/images/travel-timing-img.png">
              </div>

              <div class="landing">
                <h3>
                  <span class="city">
                    {{ translate(travel.to.full) }}
                  </span>
                  -
                  <span class="time">
                    {{ travelTimeFixer(travel.time.landing.h, travel.time.landing.m) }}
                  </span>
                </h3>
              </div>
            </div>

            <div class="pricing">
              <h2 class="price">
                {{
                  travel.price.adult.toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ',')
                }}
                <span class="rial-label">
                ریال
              </span>
              </h2>

              <a-button :disabled="travel.otherInfo.remainingSeats === 0"
                        class="btn"
                        type="primary">
                {{ travel.otherInfo.remainingSeats === 0 ? 'ظرفیت تکمیل شده' : 'انتخاب بلیط' }}
              </a-button>

              <p
                v-if="travel.otherInfo.remainingSeats < 10 && travel.otherInfo.remainingSeats !== 0"
                class="remaining-seats">
                {{ travel.otherInfo.remainingSeats + ' صندلی باقی مانده' }}
              </p>
            </div>
          </div>

          <div class="pricing">
            <h2 class="price">
              {{ priceSeparator(travel.price.adult) }}
              <span class="rial-label">
                تومان
              </span>
            </h2>

            <a-button :disabled="travel.otherInfo.remainingSeats === 0"
                      class="btn"
                      @click="selectTravel(travel.id)"
                      type="primary">
              {{ travel.otherInfo.remainingSeats === 0 ? 'ظرفیت تکمیل شده' : 'انتخاب بلیط' }}
            </a-button>

            <p v-if="travel.otherInfo.remainingSeats < 10 && travel.otherInfo.remainingSeats !== 0"
               class="remaining-seats">
              {{ travel.otherInfo.remainingSeats + ' صندلی باقی مانده' }}
            </p>
          </div>
        </div>
      </div>
    </section>

    <aside class="travels-filter-wrapper">
      <travels-filtering v-model:aircrafts="filters.aircrafts"
                         v-model:brands="filters.brands"
                         :aircraft-list="aircrafts"
                         :brands-list="brands"
                         :number-of-results="filteredTravels.length"
                         type="inner-travel"/>
    </aside>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { cloneDeep } from 'lodash';
import Translator from '@/utils/Translator';
import TravelsFiltering from '@/components/Travel/Filters/Travels-Filtering.vue';
import travelTimeFixer from '@/utils/Travel-Time-Fixer';
import priceSeparator from '@/utils/Price-Separator';

export default {
  name: 'Travels',
  components: { TravelsFiltering },
  data() {
    return {
      travels: [],
      filteredTravels: [],
      dataProcessLoading: false,
      filters: {
        sortBy: 'no-filter',
        brands: [],
        aircrafts: [],
      },
      filterChanges: 0,
      aircrafts: [],
      brands: [],
    };
  },
  methods: {
    travelTimeFixer,
    priceSeparator,
    translate(enWord) {
      return Translator.translate(enWord);
    },
    toggleDataProcessLoader() {
      this.dataProcessLoading = !this.dataProcessLoading;
    },
    sortBy() {
      const self = this;
      this.toggleDataProcessLoader();
      setTimeout(() => {
        self.toggleDataProcessLoader();
      }, 1000);

      switch (this.filters.sortBy) {
        case 'no-filter':
          this.filteredTravels = this.travels;
          break;
        case 'oracle-suggest':
          this.filteredTravels = this.travels;
          break;
        case 'cheapest':
        case 'most-expensive':
          // this.filteredTravels = this.travels.sort(firstEl, secondEl => firstEl.);
          break;
        case 'earliest':
          this.filteredTravels = cloneDeep(this.travels).sort((firstEl, secondEl) => firstEl.time.fly.h - secondEl.time.fly.h);
          break;
        case 'latest':
          this.filteredTravels = cloneDeep(this.travels).sort((firstEl, secondEl) => secondEl.time.fly.h - firstEl.time.fly.h);
          break;
        default:
          console.error('No Valid Travel Type');
          break;
      }
    },
    selectTravel(id) {
      this.$router.push({ name: 'Travel-Register', query: { id, type: this.$route.query.type } });
    },
  },
  computed: {
    ...mapGetters(['innerTravels']),
  },
  watch: {
    'filters.sortBy': {
      handler() {
        this.sortBy();
      },
    },
    'filters.brands': {
      handler() {
        this.filterChanges += 1;
      },
      deep: true,
    },
    'filters.aircrafts': {
      handler() {
        this.filterChanges += 1;
      },
      deep: true,
    },
    filterChanges() {
      const self = this;
      this.filteredTravels = this.travels;

      // Brands Filter
      let brandFilterCount = 0;
      this.filters.brands.forEach((brand) => {
        if (brand.status === true) {
          brandFilterCount += 1;
        }
      });

      if (brandFilterCount >= 1) {
        if (brandFilterCount === 1) {
          this.filters.brands.forEach((brand) => {
            if (brand.status) self.filteredTravels = self.filteredTravels.filter((travel) => travel.brand.name === brand.name);
          });
        } else {
          let filteredTravels = [];
          this.filters.brands.forEach((brand) => {
            if (brand.status) filteredTravels = [...filteredTravels, ...self.filteredTravels.filter((travel) => travel.brand.name === brand.name)];
          });
          self.filteredTravels = filteredTravels;
        }
      }

      // Aircraft Filter
      let aircraftFilterCount = 0;
      this.filters.aircrafts.forEach((aircraft) => {
        if (aircraft.status === true) {
          aircraftFilterCount += 1;
        }
      });

      if (aircraftFilterCount >= 1) {
        if (aircraftFilterCount === 1) {
          this.filters.aircrafts.forEach((aircraft) => {
            if (aircraft.status) self.filteredTravels = self.filteredTravels.filter((travel) => travel.otherInfo.aircraft === aircraft.name);
          });
        } else {
          let filteredTravels = [];
          this.filters.aircrafts.forEach((aircraft) => {
            if (aircraft.status) filteredTravels = [...filteredTravels, ...self.filteredTravels.filter((travel) => travel.otherInfo.aircraft === aircraft.name)];
          });
          self.filteredTravels = filteredTravels;
        }
      }
    },
  },
  beforeMount() {
    const {
      origin,
      destination,
      type,
    } = this.$route.query;

    switch (type) {
      case 'inner-travel':
        this.travels = this.innerTravels;
        break;
      default:
        console.error('No Travel Type Found!');
        break;
    }

    this.travels = this.travels.filter((travel) => travel.from.short === origin && travel.to.short === destination);
    this.filteredTravels = this.travels;

    // Aircraft's data handling
    const aircrafts = new Set();
    this.travels.forEach((travel) => aircrafts.add(travel.otherInfo.aircraft));
    this.aircrafts = Array.from(aircrafts);

    // Aircraft's data handling
    const brands = new Set();
    this.travels.forEach((travel) => brands.add(travel.brand.name));
    this.brands = Array.from(brands);
  },
};
</script>

<style lang="scss" scoped>
.travels-container {
  @apply grid grid-cols-1 md:grid-cols-3 pt-36 pb-20 gap-10 md:gap-16;

  .travels-wrapper {
    @apply col-span-2;

    .sort-travels {
      @apply bg-white mb-10 rounded-xl px-10 py-5 border;
      // Flex
      @apply flex flex-col md:flex-row-reverse justify-start items-center;

      .label {
        @apply ml-5;
        direction: rtl;
      }
    }

    .travels-list {
      @apply space-y-10;

      .travel {
        @apply bg-white rounded-xl p-10 border;
        // Grid
        @apply grid grid-cols-10 gap-10;
        direction: rtl;

        .brand {
          @apply col-start-1 col-end-3;
          // Flex
          @apply flex flex-col items-center justify-center;

          img {
            @apply w-16 mb-3 border rounded-full;
            background-position: center;
            object-fit: cover;
          }
        }

        .content {
          @apply flex flex-col;
          // Grid Mobile
          @apply col-start-3 col-end-11;
          // Grid Desktop
          @apply md:col-start-3 md:col-end-8;

          .tags {
            @apply mb-5;
          }

          .fly-time {
            @apply flex items-center gap-6;

            .separator img {
              @apply w-60;
            }

            .fly, .landing {
              .city, .time {
                @apply text-2xl;
              }

              .city {
              }

              .time {
                @apply font-bold;
              }
            }
          }

          .pricing {
            @apply space-y-3;
            // Show/Hide
            @apply flex items-center gap-6 md:hidden;

            .price {
              @apply text-blue-700 font-bold text-3xl mr-3;

              .rial-label {
                @apply text-sm;
              }
            }

            .btn {
              @apply rounded-xl shadow-none;
            }

            .remaining-seats {
              @apply hidden md:block;
            }
          }
        }

        .pricing {
          @apply space-y-3;
          // Grid
          @apply col-start-8 col-end-11;
          // Show/Hide
          @apply hidden md:block;

          .price {
            @apply text-blue-700 font-bold text-3xl mr-3;

            .rial-label {
              @apply text-sm;
            }
          }

          .btn {
            @apply rounded-xl shadow-none;
          }

          .remaining-seats {
            @apply text-red-600;
          }
        }
      }
    }
  }

  .travels-filter-wrapper {
    @apply col-span-1;
  }
}
</style>
