<template>
  <div class="about-us-container">
    <custom-hero :desc="hero.desc"
                 :img="hero.img"
                 :title="hero.title"/>

    <div class="explain-cards custom-container-p">
      <horizontal-explanation-card
        v-for="(explainCard, i) of explainCards"
        :key="`explain-card-${i}`"
        :title="explainCard.title"
        :desc="explainCard.desc"/>
    </div>

    <div class="futures-wrapper custom-container-p">
      <future-card v-for="(future, i) of futures"
                   :key="`future-${i}`"
                   :desc="future.desc"
                   :font-awesome-icon="future.fontAwesomeIcon"
                   :title="future.title"/>
    </div>
  </div>
</template>

<script>
import CustomHero from '@/components/Elements/Custom-Hero.vue';
import FutureCard from '@/components/Elements/Future-Card.vue';
import HorizontalExplanationCard from '@/components/Elements/Horizontal-Explanation-Card.vue';

export default {
  name: 'About-Us',
  components: {
    HorizontalExplanationCard,
    FutureCard,
    CustomHero,
  },
  data() {
    return {
      hero: {
        title: 'درباره آژانس اوراکل',
        desc: 'اوراکل یعنی داشتن بهترین تجربه سفر',
        img: 'front-view-exactly-of-a-wide-body-aircraft-sunset-at-the-airport.jpg',
      },
      futures: [
        {
          title: 'گفت خنثی و شنود موثر',
          desc: `
          ما در علی‌بابا گفته‌های همکاران را بدون پیش‌زمینه می‌شنویم و اهل پیش‌داوری نیستم. ضمن اینکه همیشه منظورمان را واضح و بدون تفسیر بیان می‌کنیم.
          `,
          fontAwesomeIcon: 'fingerprint',
        },
        {
          title: 'حرمتِ کلام',
          desc: `
          ما در علی‌بابا برای انجام وظایفمان منتظر کلمه‌ها هستیم، نه دستورالعمل و نامه‌ی رسمی؛ درست مثل یک خانواده.
          `,
          fontAwesomeIcon: 'people-arrows',
        },
        {
          title: 'عاملیت',
          desc: `
          همه‌ی علی‌بابایی‌ها خودشان را مسئول انجام دادن و یا انجام ندادن کارهای‌شان می‌دانند و این مسئولیت را در تمام مدت زندگی کاری‌شان پذیرفته‌اند.
          `,
          fontAwesomeIcon: 'ambulance',
        },
        {
          title: 'روابط شبکه‌ای',
          desc: `
          ما در علی‌بابا به دنبال برقراری روابط میان فردیِ فراتر از سِمَت، سطح و واحد هستیم تا با تجربه‌ها و تخصص یکدیگر آشنا شویم و سرمایه‌ی اجتماعی علی‌بابا را افزایش دهیم.
          `,
          fontAwesomeIcon: 'street-view',
        },
        {
          title: 'تعهد حرفه‌ای',
          desc: `
          ما در علی‌بابا به دنبال ارزیابی تعهد در تمامی ابعاد آن بوده و در پی ارزش افزوده‌ی دو طرفه از سمت سازمان و برای سازمان هستیم.
          `,
          fontAwesomeIcon: 'briefcase',
        },
        {
          title: 'توانمندسازی',
          desc: `
          ما در علی‌بابا به دنبال ارتقای دائمی دانش و مهارت‌ها در ابعاد رفتاری و شغلی، و بهینه‌سازی توانایی‌ها در راستای نیازهای سازمان هستیم.
          `,
          fontAwesomeIcon: 'car-battery',
        },
        {
          title: 'توسعه و تعالی',
          desc: `
          ما در علی‌بابا به دنبال تسهیل تعالی علی‌بابا هستیم؛ تا جایی که زمینه‌ی تعالی واحدهای سازمانی و خود را فراهم کنیم.
          `,
          fontAwesomeIcon: 'money-check-alt',
        },
        {
          title: 'تیم‌سازی بهینه',
          desc: `
          ما در علی‌بابا برای ایده‌ی خود به دنبال تیم هستیم، تیمی که با همراهی آن، ایده را عملی و در نهایت به محصول تبدیل کنیم.
          `,
          fontAwesomeIcon: 'users',
        },
      ],
      explainCards: [
        {
          title: 'آژانس هواپیمایی اوراکل',
          desc: `
          عازم کجا هستید؟ هیچ فرقی نمی‌کند. این حق شماست که سفری باکیفیت، آسان و مطمئن را تجربه کنید. علی‌بابا، به عنوان رتبه یک فروش بلیط سفر در کنار شماست تا تجربه‌ای شایسته از یک سفر به‌یادماندنی را ایجاد کند.
          سفر باید آسان باشد، مطمئن و به‌صرفه؛ و همه اینها در علی‌بابا خلاصه شده. از هر کجا به هر کجا، با هواپیما، قطار، اتوبوس یا تور. حتی برای اقامت شایسته در سفرهای خارجی می‌توانید روی هتل‌های اوراکل حساب کنید.
          علی‌بابا همسفر حرفه‌ای‌هاست، و این تجربه‌ی حرفه‌ای در همه مراحل سفر همراه شماست. از زمانی که قصد سفرکرده‌اید و نیاز به راهنمایی دارید ، تا خرید بلیط و پشتیبانی 24 ساعته توسط تیم 247 نفره مرکز پشتیبانی. حتی وقتی که برنامه سفرتان تغییر کرده و قصد استرداد بلیط را دارید ما در کنار شما هستیم.
          علی‌بابا برندی از هلدینگ پرافتخار توشا (توسعه تجربه شایسته سفر) است، سامانه‌ای که به‌واسطه پشتیبانی و حمایت شما در سکوی اول گردشگری کشور ایستاده. ما به این جایگاه قانع نشده‌ایم و تلاش‌مان برای بهبود لحظه‌ای متوقف نمی‌شود. البته در این مسیر پرپیچ‌و‌خم تنها نیستیم و همسفران شایسته‌ای چون شما دلگرمی اصلی ماست.
          آمارها نشان می‌دهد که بیشتر از 97 درصد از مشتریان، ما را به دیگران توصیه کرده‌اند و سفیر پیام علی‌بابا شده‌اند. مطمئن هستیم راه را درست رفته‌ایم، چرا که مورداعتماد شما هستیم.
          `,
        },
        {
          title: 'ارزش‌های اوراکل',
          desc: `
          علی‌بابا یک خانواده بزرگ است؛ خانواده‌ای که در آن روابط افراد بر اساس اعتماد و همکاری متقابل تعریف شده. در بین اعضای این خانواده ارزش‌هایی شکل گرفته تا کار کردن به یک فعالیت لذت‌بخش تبدیل شود.
          `,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.about-us-container {
  .explain-cards {
    @apply mt-20 space-y-20;
  }

  .futures-wrapper {
    @apply py-32;
    // Grid
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10;
  }
}
</style>
