<template>
  <div class="about-us-container">
    <custom-hero
      desc="تیم پشتیبانی 247 نفره، آماده پاسخگویی به سوالات شما در همه ساعات شبانه‌روز"
      title="تماس با ما"/>

    <div class="contact-us-content custom-container-p">
      <horizontal-explanation-card
        :desc="hoCard.desc"
        :title="hoCard.title"/>

      <horizontal-explanation-card
        title="فرم تماس">
        <div class="contact-form-container">
          <div class="img-box">
            <img
              alt="تصویر پشتیبانی اوراکل"
              src="https://www.alibaba.ir/_assets/img/contact-us-illustration.5816ab9.png?w=540&h=540&q=60">
          </div>

          <div class="form-box">
            <div class="inputs-wrapper">
              <div class="email">
                <span>ایمیل:</span>
                <a-input v-model:value="form.email"
                         placeholder="لطفا ایمیل خود را وارد نمایید"/>
              </div>
              <div class="phone-number">
                <span class="text-right">تلفن همراه:</span>
                <div dir="ltr">
                  <a-input v-model:value.trim="form.phoneNumber"
                           :maxLength="10"
                           addon-before="+98"
                           placeholder="930xxxxxxx"/>
                </div>
              </div>
              <div class="topic">
                <span>موضوع پیام را انتخاب کنید:</span>
                <br>
                <a-select
                  v-model:value="form.topic"
                  class="w-full"
                  @change="formTopicChangeHandler">
                  <a-select-option v-for="(topic, i) of form.topics"
                                   :key="`topic-item-${i}`"
                                   :value="topic.val"
                                   dir="rtl"
                                   placeholder="انتخاب کنید">
                    {{ topic.label }}
                  </a-select-option>
                </a-select>
              </div>
              <div :class="{ hidden: form.topic === '' }"
                   class="message-type">
                <span>پیام شما در رابطه با چه موردی است؟</span>
                <a-select
                  v-model:value="form.messageType"
                  class="w-full"
                  @change="messageTypeChangeHandler">
                  <a-select-option v-for="(messageType, i) of messageTypeList"
                                   :key="`topic-item-${i}`"
                                   :value="messageType.val"
                                   dir="rtl"
                                   placeholder="انتخاب کنید">
                    {{ messageType.label }}
                  </a-select-option>
                </a-select>
              </div>
            </div>

            <a-textarea v-model:value="form.message"
                        :rows="6"
                        placeholder="پیام خود را در این بخش بنویسید"/>

            <a-button block
                      class="rounded-xl"
                      size="large"
                      type="primary"
                      @click="sendMessageHandler">
              ارسال درخواست
            </a-button>
          </div>
        </div>
      </horizontal-explanation-card>
    </div>
  </div>
</template>

<script>
import CustomHero from '@/components/Elements/Custom-Hero.vue';
import HorizontalExplanationCard from '@/components/Elements/Horizontal-Explanation-Card.vue';

export default {
  name: 'Contact-Us',
  components: {
    HorizontalExplanationCard,
    CustomHero,
  },
  data() {
    return {
      hoCard: {
        title: 'آژانس هواپیمایی علی بابا',
        desc: 'اگر راهنمای خرید بلیط را خوانده باشید و قوانین و مقررات آژانس هواپیمایی علی‌بابا را هم از نظرتان گذرانده باشید، بعید است به مشکلی بربخورید؛ اما در هر صـورت اگر بنا به هـر دلیلـی به مشـورت با همکاران ما و بخش پشتیبانیِ شبانه‌روزی ما احتیاج داشتید، مـی‌توانید در هر لحظه، یا با شمـاره تلفن ۴۳۹۰۰۰۰۰-۰۲۱ یا ۴۹۲۷۵۰۰۰-۰۲۱ تمـاس بگیرید و یا از طریق فرم زیر، موضوع را با ما در میان بگذارید تا هرچه زودتر به آن رسیدگی کنیم.',
      },
      form: {
        email: '',
        phoneNumber: '',
        topic: '',
        messageType: '',
        message: '',
        topics: [
          {
            label: 'بلیط پرواز داخلی',
            val: 'inner-travel',
          },
          {
            label: 'بلیط پرواز خارجی',
            val: 'out-travel',
          },
          {
            label: 'بلیط پرواز قطار',
            val: 'train',
          },
          {
            label: 'بلیط پرواز هتل',
            val: 'hotel',
          },
          {
            label: 'بلیط پرواز اتوبوس',
            val: 'bus',
          },
        ],
        messageTypes: [
          {
            type: 'inner-travel',
            items: [
              {
                label: 'استرداد بیلط پرواز داخلی',
                val: 'inner-travel-extradition',
              },
              {
                label: 'راهنمای استرداد بیلط پرواز داخلی',
                val: 'inner-travel-extradition-help',
              },
              {
                label: 'دریافت ساین',
                val: 'get-a-sign',
              },
              {
                label: 'لغو هشدار پرواز داخلی',
                val: 'request-email-cancellation',
              },
            ],
          },
          {
            type: 'out-travel',
            items: [
              {
                label: 'استرداد بیلط پرواز خارجی',
                val: 'out-travel-extradition',
              },
              {
                label: 'راهنمای استرداد بیلط پرواز خارجی',
                val: 'out-travel-extradition-help',
              },
              {
                label: 'دریافت ساین',
                val: 'get-a-sign',
              },
              {
                label: 'لغو ایمیل هشدار پرواز خارجی',
                val: 'request-email-cancellation',
              },
            ],
          },
          {
            type: 'train',
            items: [
              {
                label: 'درخواست استرداد',
                val: 'train-extradition',
              },
            ],
          },
          {
            type: 'hotel',
            items: [
              {
                label: 'تایید استرداد',
                val: 'hotel-extradition-confirm',
              },
            ],
          },
          {
            type: 'bus',
            items: [
              {
                label: 'تایید استرداد بلیط اتوبوس',
                val: 'bus-extradition-confirm',
              },
              {
                label: 'لغو استرداد بلیط اتوبوس',
                val: 'bus-extradition-cancellation',
              },
            ],
          },
        ],
      },
    };
  },
  watch: {
    // eslint-disable-next-line func-names
    'form.topic': function () {
      this.form.messageType = '';
    },
  },
  methods: {
    formTopicChangeHandler(val) {
      this.form.topic = val;
    },
    messageTypeChangeHandler(val) {
      this.form.messageType = val;
    },
    sendMessageHandler() {
      this.$message.success('پیام شما با موفقیت ارسال شد');
    },
  },
  computed: {
    messageTypeList() {
      if (this.form.topic !== '') {
        const messageType = this.form.messageTypes.filter((messageTypeItem) => messageTypeItem.type === this.form.topic)[0];
        return messageType.items;
      }
      return [];
    },
  },
};
</script>

<style lang="scss" scoped>
.about-us-container {
  .contact-us-content {
    @apply py-20 space-y-20;

    .contact-form-container {
      @apply grid grid-cols-1 md:grid-cols-2;

      .form-box {
        @apply space-y-10;
        .inputs-wrapper {
          @apply grid grid-cols-1 md:grid-cols-2 gap-10;
        }
      }
    }
  }
}
</style>
