<template>
  <PageHeader class="bg-white app-header"/>
  <router-view/>
  <PageFooter :class="{ 'hidden': !showFooter }"/>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import PageFooter from '@/components/Essentials/Footer.vue';
import PageHeader from '@/components/Essentials/Header.vue';

export default {
  name: 'App',
  components: {
    PageFooter,
    PageHeader,
  },
  methods: {
    ...mapActions(['generateTravels']),
  },
  computed: {
    ...mapGetters(['showFooter']),
  },
  mounted() {
    this.generateTravels();
  },
};
</script>

<style lang="scss">
.app-header {
  @apply shadow-lg;
  position: fixed;
  z-index: 100;
  width: 100vw;
  border-radius: 0 0 1.5rem 1.5rem;
}
</style>
