<template>
  <footer class="footer-container custom-container-p">
    <section class="main-content">
      <div class="info-wrapper" dir="ltr">
        <div class="brand-info">
          <logo class="logo"/>

          <p class="call-info">
            تلفن پشتیبانی
            <a href="tel:02134550000">021-34550000</a>
            |
            <a href="tel:02169310000">021-69310000</a>
          </p>

          <p class="sell-address">
            دفتر فروش: قیطریه، بلوار اندرزگو، نبش کوچه‌ی بلوچ شمالی، پلاک ۴
          </p>
        </div>

        <div class="permissions">
          <img src="https://cdn.alibaba.ir/h/desktop/assets/images/footer/ecunion.png-8b792f56.png"
               alt="ecunion">

          <img src="https://cdn.alibaba.ir/h/desktop/assets/images/footer/samandehi.png-6e2b448a.png"
               alt="samandehi">

          <img
            src="https://cdn.alibaba.ir/h/desktop/assets/images/footer/passenger-rights.svg-dd64d114.svg"
            alt="passenger-rights">

          <img src="https://cdn.alibaba.ir/h/desktop/assets/images/footer/aira.png-682b7c43.png" alt="aira">

          <img src="https://cdn.alibaba.ir/h/desktop/assets/images/footer/state-airline.svg-f45c55b2.svg" alt="">
        </div>
      </div>

      <div class="helper-link-wrapper" dir="rtl">
        <div class="links main-links">
          <h3 class="font-bold text-2xl mb-6">
            اوراکل
          </h3>
          <ul class="space-y-2.5">
            <li v-for="page of mainPages" :key="page.link">
              <a href="#" class="text-gray-800">{{ page.title }}</a>
            </li>
          </ul>
        </div>

        <div class="links main-links">
          <h3 class="font-bold text-2xl mb-6">
            راهنما
          </h3>
          <ul class="space-y-2.5">
            <li v-for="page of guidePages" :key="page.link">
              <a href="#" class="text-gray-800">{{ page.title }}</a>
            </li>
          </ul>
        </div>

        <div class="links main-links">
          <h3 class="font-bold text-2xl mb-6">
            اطلاعات تکمیلی
          </h3>
          <ul class="space-y-2.5">
            <li v-for="page of furtherInformation" :key="page.link">
              <a href="#" class="text-gray-800">{{ page.title }}</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <hr>

    <section class="bottom-content">
      <div class="social-media">
        <social-media/>
      </div>

      <div class="copy-right">
        <p dir="rtl">
          کلیه حقوق این وب سایت متعلق به آژانس اوراکل می باشد.
        </p>
      </div>
    </section>
  </footer>
</template>

<script>
import SocialMedia from '@/components/Elements/Social-Media.vue';
import Logo from '@/components/Basic/Logo.vue';

export default {
  name: 'Footer',
  components: { Logo, SocialMedia },
  data() {
    return {
      mainPages: [
        {
          title: 'درباره ما',
          link: 'about-us',
        },
        {
          title: 'تماس با ما',
          link: 'contact-us',
        },
        {
          title: 'چرا اوراکل',
          link: 'why-us',
        },
        {
          title: 'اوراکل پلاس',
          link: 'plus',
        },
        {
          title: 'مجله علی بابا',
          link: 'mag',
        },
      ],
      guidePages: [
        {
          title: 'راهنمای خرید',
          link: 'purchase-guide',
        },
        {
          title: 'راهنمای استرداد بلیط',
          link: 'refund-guide',
        },
        {
          title: 'قوانین و مقررات',
          link: 'policy',
        },
        {
          title: 'پرسش و پاسخ',
          link: 'faq',
        },
      ],
      furtherInformation: [
        {
          title: 'باشگاه مشتریان',
          link: 'loyalty',
        },
        {
          title: 'فروش سازمانی',
          link: 'b2b',
        },
        {
          title: 'همکاری با آژانس ها',
          link: 'partner',
        },
        {
          title: 'فرصت های شغلی',
          link: 'jobs',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.footer-container {
  background-color: white;
  @apply gap-28 md:gap-44 py-10;
  @apply space-y-10;

  .main-content {
    display: grid;
    width: 100%;
    // Grid
    @apply grid-cols-1 md:grid-cols-2;
    // Spacing
    @apply space-y-16 md:space-y-0;

    .helper-link-wrapper {
      display: flex;
      justify-content: space-between;
      text-align: right;

      .links {
        ul {
          li {
            a {
              &:hover {
                color: #000;
              }
            }
          }
        }
      }
    }

    .info-wrapper {
      @apply flex flex-col justify-between space-y-12;

      .brand-info {
        @apply space-y-4;

        .logo {
          @apply w-24;
        }
      }

      .permissions {
        @apply flex space-x-6;

        img {
          @apply w-1/6 md:w-28;
          border: 1px solid rgba(0,0,0, .2);
          border-radius: 1rem;
          padding: .6rem;
        }
      }
    }
  }

  .bottom-content {
    @apply flex justify-between flex-col-reverse md:flex-row md:space-y-0;

    .copy-right {
      @apply mx-auto mb-5 md:m-0;
    }

    .social-media {
      @apply mx-auto md:m-0;
    }
  }
}
</style>
