<template>
  <header class="header-container custom-container-p-big" dir="rtl">
    <div class="main-wrappers">
      <div class="right-wrapper">
        <div class="logo">
          <router-link :to="{ name: 'Home' }">
            <logo/>
          </router-link>
        </div>
      </div>

      <nav class="center-wrapper">
        <ul class="desktop-nav-items">
          <li v-for="(item, i) of navigationItems"
              :key="`nav-item-${i}`"
              :class="{ 'selected': item.linkName === $route.name }"
              class="nav-item">
            <router-link :to="item.link ? item.link : '#'">
              {{ item.name }}
            </router-link>
          </li>
        </ul>
      </nav>

      <div class="left-wrapper">
        <div class="desktop-cta-buttons hidden md:block">
          <router-link v-if="!loggedIn"
                       :to="{ name: 'Auth' }">
            <a-button class="rounded-xl">
              ورود و یا ثبت نام
            </a-button>
          </router-link>

          <on-click-outside v-else
                            class="user-profile"
                            @trigger="closeUserInfoDropDown">
            <h3 class="username cursor-pointer"
                @click="userInfoDropboxOpen = !userInfoDropboxOpen">
              <i class="far fa-user"></i>
              &nbsp;
              {{ user.username.firstName + ' ' + user.username.lastName }}
              &nbsp;
              <i class="fas fa-chevron-down"></i>
            </h3>

            <div :class="[ userInfoDropboxOpen ? 'open' : 'close' ]"
                 class="user-info-dropbox">
              <header-user-info-card :user="user" @close-drop-down="closeUserInfoDropDown"/>
            </div>
          </on-click-outside>
        </div>

        <div class="mobile-cta-buttons">
          <div class="login-button btn">
            <router-link :to="{ name: 'Auth' }">
              <i class="fas fa-user-circle fa-2xl"/>
            </router-link>
          </div>

          <div class="menu-button btn" @click="toggleMobileMenuStatus">
            <router-link v-if="!mobileMenuOpen"
                         to="#">
              <i class="fas fa-bars fa-xl bars"/>
            </router-link>

            <router-link v-else
                         to="#">
              <i class="fas fa-plus fa-xl plus"/>
            </router-link>
          </div>
        </div>
      </div>

      <div ref="mobile-menu-shadow"
           :class="{ 'mobile-menu-shadow-show': mobileMenuOpen }"
           class="mobile-menu-shadow"/>

      <on-click-outside :class="{ 'menu-hide': !mobileMenuOpen }"
                        class="mobile-menu"
                        @trigger="closeMobileMenu">
        <div class="inner-mobile-menu-wrapper">
          <div class="menu-items">
            <ul>
              <li v-for="(item, i) in navigationItems"
                  :key="`mobile-nav-item-${i}`"
                  @click="mobileMenuOpen = false">
                <router-link :to="item.link">
                  {{ item.name }}
                </router-link>
              </li>
            </ul>
          </div>

          <social-media/>
        </div>
      </on-click-outside>
    </div>
  </header>
</template>

<style lang="scss" scoped>
.header-container {
  @apply rounded-none;

  .main-wrappers {
    @apply bg-white;
    // Flex
    @apply flex justify-between items-center;
    // Spacing
    @apply py-10 md:py-0;

    .right-wrapper {
      .logo {
        img {
          @apply w-24;
        }
      }
    }

    .center-wrapper {
      .desktop-nav-items {
        @apply hidden;
        // Flex
        @apply md:flex md:justify-between;

        .nav-item {
          // General
          @apply text-2xl;
          // Spacing
          @apply px-8 py-8;
          // Coloring
          @apply hover:bg-gray-100 hover:text-gray-700;
          // Transition
          @apply transition-colors duration-300;
        }

        .selected {
          border-bottom: .5rem #1968e0 solid;
          color: #1968e0;
        }
      }
    }

    .left-wrapper {
      .mobile-cta-buttons {
        @apply flex gap-5 md:hidden;
        .btn {
          a {
            @apply p-4 pt-6 rounded-xl bg-gray-200;
            i {
              @apply text-gray-700;
            }
          }
        }

        .menu-button {
          a {
            @apply px-6;

            i.plus {
              transform: rotate(-45deg);
            }
          }
        }
      }

      .desktop-cta-buttons {
        position: relative;

        .user-profile {
          @apply text-2xl;
        }

        .user-info-dropbox {
          @apply px-7 py-8 bg-white rounded-xl shadow-xl border;
          position: absolute;
          left: 0;
          top: 6rem;
          width: 250%;

          &.open {
            display: block;
          }

          &.close {
            display: none;
          }
        }
      }
    }

    .mobile-menu-shadow {
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgb(0, 0, 0, .5);
      display: none;
      opacity: 0;
      transition: opacity .35s linear;
    }

    .mobile-menu-shadow-show {
      display: inline-block;
      opacity: 1;
    }

    .menu-hide {
      right: -80vw !important;
    }

    .mobile-menu {
      @apply px-16 py-32;
      height: 100vh;
      width: 80vw;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 90;
      background: #393d40;
      overflow: hidden;
      transition: right .35s linear;

      .inner-mobile-menu-wrapper {
        @apply flex flex-col justify-between h-full;

        .menu-items {
          ul {
            @apply space-y-5 text-white text-3xl;
            li {
              @apply py-4 px-6 rounded-xl transition duration-300 hover:bg-gray-500;
              a {
                @apply block;
                &:hover {
                  color: #e3e3e3 !important;
                }
              }
            }
          }
        }

        .social-media-links {
          @apply flex justify-end;
          direction: ltr !important;
          color: white !important;
        }
      }
    }
  }
}
</style>

<script>
import { OnClickOutside } from '@vueuse/components';
import { mapGetters } from 'vuex';
import SocialMedia from '@/components/Elements/Social-Media.vue';
import HeaderUserInfoCard from '@/components/Account/Header-User-Info-Card.vue';
import Logo from '@/components/Basic/Logo.vue';

export default {
  name: 'Header',
  components: {
    Logo,
    SocialMedia,
    OnClickOutside,
    HeaderUserInfoCard,
  },
  data() {
    return {
      userInfoDropboxOpen: false,
      mobileMenuOpen: false,
      navigationItems: [
        {
          name: 'خانه',
          link: '/',
          linkName: 'Home',
        },
        {
          name: 'سفرها',
          link: '/',
          linkName: '',
          children: [
            {
              name: 'سفرهای داخلی',
              link: '/?travel-type=inner',
            },
            {
              name: 'سفرهای خارجی',
              link: '/?travel-type=outer',
            },
            {
              name: 'قطار',
              link: '/?travel-type=train',
            },
            {
              name: 'اتوبوس',
              link: '/?travel-type=bus',
            },
            {
              name: 'تور',
              link: '/?travel-type=tour',
            },
            {
              name: 'هتل',
              link: '/?travel-type=hotel',
            },
          ],
        },
        {
          name: 'تماس با ما',
          link: '/contact-us',
          linkName: 'ContactUs',
        },
        {
          name: 'درباره ما',
          link: '/about-us',
          linkName: 'AboutUs',
        },
      ],
    };
  },
  methods: {
    toggleMobileMenuStatus() {
      this.mobileMenuOpen = !this.mobileMenuOpen;
    },
    closeMobileMenu() {
      if (this.mobileMenuOpen) {
        this.mobileMenuOpen = false;
      }
    },
    closeUserInfoDropDown() {
      this.userInfoDropboxOpen = false;
    },
  },
  computed: {
    ...mapGetters(['loggedIn', 'user']),
  },
};
</script>
