<template>
  <div class="hero-container custom-container-p">
    <travel-selector-container class="travel-selector"/>
  </div>
</template>

<script>
import TravelSelectorContainer from '@/components/Travel/Selectors/Travel-Selector-Container.vue';

export default {
  name: 'Hero',
  components: {
    TravelSelectorContainer,
  },
};
</script>

<style lang="scss" scoped>
.hero-container {
  height: 50vh;
  background-image:
    url("https://cdn.alibaba.ir/h/desktop/assets/images/hero/hero-a1e2c857.jpg");
  background-position: center;
  background-size: cover;
  // Flex
  @apply flex justify-center items-center;

  .travel-selector {
    margin-top: 39rem;
  }
}
</style>
