<template>
  <div class="travel-passengers-container" dir="rtl">
    <section class="heading-wrapper">
      <h2 class="title">
        <i class="fa-solid fa-user-group users-icon"/>
        مشخصات مسافران
      </h2>
    </section>

    <section class="passengers-wrapper">
      <div v-for="(passenger, i) of passengers"
           :key="`passenger-${i}`"
           class="passenger">
        <div class="heading-wrapper">
          <div class="id-card-type">
            <div v-if="passenger.idCardType === 'national-card'"
                 class="passenger-age-category">
              <span
                v-if="passenger.nationalCardData.birthday.year.value === 1400">
                نوزاد
              </span>

              <span
                v-else-if="passenger.nationalCardData.birthday.year.value >= 1388">
                کودک
              </span>

              <span v-else>
                بزرگسال
              </span>
            </div>

            <div v-else
                 class="passenger-age-category">
              <span v-if="passenger.passportCardData.birthday.year.value === 2022">
                نوزاد
              </span>

              <span v-else-if="passenger.passportCardData.birthday.year.value > 2010">
                کودک
              </span>

              <span v-else>
                بزرگسال
              </span>
            </div>

            <div class="id-card-type-radio-buttons">
              <a-radio-group v-model:value="passenger.idCardType"
                             name="radioGroup">
                <a-radio value="national-card">کارت ملی</a-radio>
                <a-radio value="passport">پاسپورت</a-radio>
              </a-radio-group>
            </div>
          </div>

          <div class="passenger-handler-buttons">
            <a-button class="select-passengers-from-history-btn rounded-full"
                      @click="selectFormerlyPassengerHandler">
              <span>
                <i class="fa-solid fa-user"></i>
                انتخاب مسافران سابق
              </span>
            </a-button>

            <a-button v-if="i !== 0"
                      class="remove-passenger-btn"
                      danger
                      @click="removePassenger(i)">
              <span>
                <i class="fa-solid fa-xmark"></i>
                حذف مسافر
              </span>
            </a-button>
          </div>
        </div>

        <div class="passenger-data-form">
          <input-field v-model:field-valid="passenger.latinName.valid"
                       v-model:input="passenger.latinName.value"
                       :allow-clear="true"
                       :form-submit-trigger="formSubmitTrigger"
                       :validator="fieldsValidationRules.latinFirstName"
                       field-name="latinFirstName"
                       label="نام لاتین"
                       placeholder="نام لاتین خود را وارد نمایید"/>

          <input-field v-model:field-valid="passenger.latinSurName.valid"
                       v-model:input="passenger.latinSurName.value"
                       :allow-clear="true"
                       :form-submit-trigger="formSubmitTrigger"
                       :validator="fieldsValidationRules.latinSurName"
                       field-name="latinSurName"
                       label="نام خانوادگی لاتین"
                       placeholder="نام خانوادگی لاتین را وارد نمایید"/>

          <select-field v-model:field-valid="passenger.gender.valid"
                        v-model:selected-value="passenger.gender.value"
                        :form-submit-trigger="formSubmitTrigger"
                        :options-list="genderOptions"
                        :validator="fieldsValidationRules.gender"
                        field-name="gender"
                        label="جنسیت"
                        placeholder="جنیست خود را انتخاب نمایید"/>

          <template v-if="passenger.idCardType === 'national-card'">
            <input-field v-model:field-valid="passenger.nationalCardData.nationalCode.valid"
                         v-model:input="passenger.nationalCardData.nationalCode.value"
                         :allow-clear="true"
                         :form-submit-trigger="formSubmitTrigger"
                         :validator="fieldsValidationRules.nationalCode"
                         class="national-code"
                         field-name="nationalCode"
                         label="کد ملی"
                         placeholder="کد ملی خود را وارد نمایید"/>

            <input-field v-model:field-valid="passenger.nationalCardData.firstName.valid"
                         v-model:input="passenger.nationalCardData.firstName.value"
                         :allow-clear="true"
                         :form-submit-trigger="formSubmitTrigger"
                         :validator="fieldsValidationRules.firstName"
                         class="first-name"
                         field-name="firstName"
                         label="نام"
                         placeholder="نام خود را وارد نمایید"/>

            <input-field v-model:field-valid="passenger.nationalCardData.lastName.valid"
                         v-model:input="passenger.nationalCardData.lastName.value"
                         :allow-clear="true"
                         :form-submit-trigger="formSubmitTrigger"
                         :validator="fieldsValidationRules.lastName"
                         class="last-name"
                         field-name="lastName"
                         label="نام خانوادگی"
                         placeholder="نام خانوادگی خود را وارد نمایید"/>

            <date-picker v-model:date="passenger.nationalCardData.birthday"
                         :form-submit-trigger="formSubmitTrigger"
                         :latest-solar-year="i === 0 ? 1390 : 1401"
                         :validator="fieldsValidationRules['solar-birthday']"
                         date-type="solar"
                         field-name="solar-birthday"
                         label="تاریخ تولد"/>
          </template>

          <template v-else>
            <date-picker v-model:date="passenger.passportCardData.birthday"
                         :form-submit-trigger="formSubmitTrigger"
                         :latest-gregorian-year="i === 0 ? 2010 : 2022"
                         :validator="fieldsValidationRules['gregorian-birthday']"
                         date-type="gregorian"
                         field-name="gregorian-birthday"
                         label="تاریخ تولد(میلادی)"/>

            <select-field v-model:field-valid="passenger.passportCardData.birthCountry.valid"
                          v-model:selected-value="passenger.passportCardData.birthCountry.value"
                          :form-submit-trigger="formSubmitTrigger"
                          :options-list="countiesList"
                          :validator="fieldsValidationRules['passport-birthCountry-country']"
                          field-name="passport-birthCountry-country"
                          label="کشور محل تولد"
                          placeholder="لطفا کشور خود را انتخاب نمایید"/>

            <select-field
              v-model:field-valid="passenger.passportCardData.passportIssuingCountry.valid"
              v-model:selected-value="passenger.passportCardData.passportIssuingCountry.value"
              :form-submit-trigger="formSubmitTrigger"
              :options-list="countiesList"
              :validator="fieldsValidationRules['passport-issuing-country']"
              field-name="passport-issuing-country"
              label="کشور صادر کننده"
              placeholder="کشور صادر کننده پاسپورت را انتخاب نمایید"/>

            <input-field v-model:field-valid="passenger.passportCardData.passportNumber.valid"
                         v-model:input="passenger.passportCardData.passportNumber.value"
                         :allow-clear="true"
                         :form-submit-trigger="formSubmitTrigger"
                         :validator="fieldsValidationRules['passport-number']"
                         field-name="passport-number"
                         label="شماره پاسپورت"
                         placeholder="شماره پاسپورت را وارد نمایید"/>

            <date-picker v-model:date="passenger.passportCardData.passportExpirationDate"
                         :form-submit-trigger="formSubmitTrigger"
                         :latest-gregorian-year="2023"
                         :validator="fieldsValidationRules['passport-expiration']"
                         date-type="gregorian"
                         field-name="passport-expiration"
                         label="تاریخ انقضا پاسپورت"/>
          </template>
        </div>
      </div>
    </section>

    <section class="add-new-passenger-wrapper">
      <a-button class="add-new-btn"
                @click="addNewPassenger">
        افزودن مسافر جدید
      </a-button>

      <a-button class="next-page-btn"
                type="primary"
                @click="formSubmitHandler">
        مرحله بعدی
      </a-button>
    </section>

    <section class="next-page">

    </section>
  </div>
</template>

<script>
import { cloneDeep, includes, some } from 'lodash';
import { computed, ref } from 'vue';
import { message } from 'ant-design-vue';
import * as yup from 'yup';
import DatePicker from '@/components/Form/Date-Picker.vue';
import Country from '@/utils/Country';
import InputField from '@/components/Form/Input-Field.vue';
import SelectField from '@/components/Form/Select-Field.vue';

const dateSchema = {
  valid: false,
  day: '',
  month: '',
  year: '',
};

const fieldSchema = {
  value: null,
  valid: false,
};

const passengerDataSchema = {
  idCardType: 'national-card',
  latinName: cloneDeep(fieldSchema),
  latinSurName: cloneDeep(fieldSchema),
  gender: cloneDeep(fieldSchema),
  nationalCardData: {
    nationalCode: cloneDeep(fieldSchema),
    firstName: cloneDeep(fieldSchema),
    lastName: cloneDeep(fieldSchema),
    birthday: dateSchema,
  },
  passportCardData: {
    birthday: dateSchema,
    birthCountry: cloneDeep(fieldSchema),
    passportIssuingCountry: cloneDeep(fieldSchema),
    passportNumber: cloneDeep(fieldSchema),
    passportExpirationDate: dateSchema,
  },
};

const defaultFieldValidator = yup.string()
  .required('این فیلد اجباری میباشد');

const solarBirthday = {
  year: yup.number()
    .required('فیلد سال اجباری میباشد')
    .nullable(),
  month: yup.number()
    .required('فیلد ماه اجباری میباشد')
    .nullable(),
  day: yup.number()
    .required('فیلد روز اجباری میباشد')
    .nullable(),
};

const fieldsValidationRules = {
  latinFirstName: defaultFieldValidator.matches(/^[A-Za-z ]*$/, 'لطفا فقط نام انگلیسی خود را وارد نمایید'),
  latinSurName: defaultFieldValidator.matches(/^[A-Za-z ]*$/, 'لطفا فقط نام خانوادگی انگلیسی خود را وارد نمایید'),
  nationalCode: yup.string()
    .required('این فیلد اجباری میباشد')
    .matches(/^[۰-۹, 0-9]*$/, 'فقط استفاده از اعداد مجاز میباشد')
    .max(10, 'مقدار مجاز کد ملی ۱۰ عدد میباشد'),
  firstName: defaultFieldValidator.matches(/^[\u0600-\u06FF\s]+$/, 'فقط استفاده از حروف فارسی مجاز میباشد'),
  lastName: defaultFieldValidator.matches(/^[\u0600-\u06FF\s]+$/, 'فقط استفاده از حروف فارسی مجاز میباشد'),
  gender: defaultFieldValidator.nullable(),
  'solar-birthday': solarBirthday,
  'gregorian-birthday': solarBirthday,
  'passport-expiration': solarBirthday,
  'passport-birthCountry-country': defaultFieldValidator.nullable(),
  'passport-issuing-country': defaultFieldValidator.nullable(),
  'passport-number': yup.string()
    .required('فیلد شماره پاسپورت اجباری میباشد')
    .nullable()
    .matches(/\b\d{15}\b/, {
      message: 'شماره پاسپورت بایستی شامل ۱۵ رقم باشد',
      excludeEmptyString: true,
    }),
};

export default {
  name: 'Travel-Passengers',
  components: {
    SelectField,
    InputField,
    DatePicker,
  },
  setup(props, ctx) {
    const passengers = ref([]);
    const formSubmitTrigger = ref(0);
    const genderOptions = ref([{
      label: 'آقا',
      val: 'male',
    }, {
      label: 'خانم',
      val: 'female',
    }]);
    const countiesList = computed(() => Country.all);

    function selectFormerlyPassengerHandler() {
      message.error('به دلیل در دسترس نبودن "ای پی آی" این بخش فاقد عملکرد میباشد');
    }

    function addNewPassenger() {
      passengers.value.push(cloneDeep(passengerDataSchema));
    }

    function removePassenger(index) {
      passengers.value.splice(index, 1);
    }

    function validatePassengers() {
      setTimeout(() => {
        let valid = true;
        try {
          passengers.value.forEach((passenger) => {
            // Validation general data of passenger
            Object.getOwnPropertyNames(passenger)
              .forEach((key) => {
                if (some(['idCardType', 'nationalCardData', 'passportCardData'], (el) => includes(key, el))) return;
                if (passenger[key].valid === false) {
                  throw new Error(`Error in passenger data with ${key}`);
                }
              });

            // Validation passenger data type
            const passengerData = passenger.idCardType === 'national-card' ? passenger.nationalCardData : passenger.passportCardData;
            Object.getOwnPropertyNames(passengerData)
              .forEach((key) => {
                if (passengerData[key].valid === false) {
                  throw new Error(`Error in passenger data with ${key}`);
                }
              });
          });
        } catch (e) {
          valid = false;
          message.error('لطفا اطلاعات مسافران را به درستی وارد کنید');
        }

        if (valid) {
          ctx.emit('next', passengers);
        }
      }, 10);
    }

    function formSubmitHandler() {
      formSubmitTrigger.value += 1;
      validatePassengers();
    }

    addNewPassenger();

    return {
      passengers,
      countiesList,
      formSubmitTrigger,
      genderOptions,
      fieldsValidationRules,
      selectFormerlyPassengerHandler,
      addNewPassenger,
      removePassenger,
      formSubmitHandler,
      validatePassengers,
    };
  },
};
</script>

<style lang="scss" scoped>
.travel-passengers-container {
  @apply bg-white border rounded-xl;

  & > .heading-wrapper {
    @apply py-10;
    position: relative;

    &::before {
      content: '';
      background-color: #484848;
      position: absolute;
      right: 0;
      top: 0;
      height: 70%;
      width: .55rem;
      border-radius: 1rem 0 0 1rem;
      transform: translateY(20%);
    }

    .title {
      @apply mr-10 text-3xl font-bold;

      .users-icon {
        @apply ml-5;
      }
    }
  }

  .passengers-wrapper {
    @apply p-10 border-b space-y-20;

    .heading-wrapper {
      @apply flex items-center justify-between mb-10;

      .id-card-type {
        @apply flex justify-end md:items-center flex-col md:flex-row gap-5;

        .passenger-age-category {
          @apply px-8 py-2 border rounded-full;
        }
      }

      .passenger-handler-buttons {
        .select-passengers-from-history-btn {

        }

        .remove-passenger-btn {
          @apply mr-5;
        }
      }
    }

    .passenger-data-form {
      @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10;

      .field {
        .input-label {
          @apply mb-1 block text-gray-500;
        }
      }
    }
  }

  .add-new-passenger-wrapper {
    @apply p-10 flex justify-between;

    .add-new-btn {
      @apply rounded-xl border-blue-500 text-blue-500;

      &:active {
        @apply bg-blue-100;
      }
    }

    .next-page-btn {
      @apply rounded-xl border-none shadow-none;
    }
  }
}
</style>
