<template>
  <div class="travel-overview-container" dir="rtl">
    <section class="info-wrapper">
      <div class="date-wrapper">
        <h3 class="date">
          {{ currentTravel.date }}
        </h3>
      </div>

      <div class="tags-wrapper">
        <div class="brand">
          <img :alt="brandImgAlt"
               :src="currentTravel.brand.img"
               class="brand-img">
          <span class="brand-label">
            {{ translate(currentTravel.brand.name) }}
          </span>
        </div>

        <a-tag class="aircraft"
               color="default">
          {{ currentTravel.otherInfo.aircraft }}
        </a-tag>

        <a-tag class="travel-number"
               color="default">
          پرواز
          {{ currentTravel.otherInfo.travelNumber }}
        </a-tag>

        <a-tag class="systemic"
               color="default">
          سیستمی
        </a-tag>

        <a-tag class="economic"
               color="default">
          اکونومی
        </a-tag>
      </div>

      <div class="travel-time-wrapper">
        <div class="fly-time">
          <span class="time">
            {{ travelTimeFixer(currentTravel.time.fly.h, currentTravel.time.fly.m) }}
          </span>
          <br>
          <span class="city">
            {{ translate(currentTravel.from.full) }}
          </span>
        </div>

        <div class="separator">
          <img alt=""
               src="/images/travel-timing-img.png">
        </div>

        <div class="landing-time">
          <span class="time">
            {{ travelTimeFixer(currentTravel.time.landing.h, currentTravel.time.landing.m) }}
          </span>
          <br>
          <span class="city">
            {{ translate(currentTravel.to.full) }}
          </span>
        </div>
      </div>
    </section>

    <section class="change-ticket-wrapper">
      <div class="buttons">
        <a-button block
                  @click="changeTicket"
                  type="primary"
                  class="change-ticket">
          تغییر بلیط
        </a-button>
      </div>

      <div class="bills">
        <div class="total">
          <span class="label">
            مجموع
          </span>

          <span class="value">
            {{ priceSeparator(currentTravel.price.adult) }}
            تومان
          </span>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
.travel-overview-container {
  @apply bg-white border rounded-xl;
  // Grid
  @apply flex flex-col md:grid md:grid-cols-10;

  .info-wrapper {
    @apply col-span-8 p-10;
    // Flex
    @apply flex flex-col gap-8;

    .date-wrapper {
      .date {
        @apply font-bold;
      }
    }

    .tags-wrapper {
      @apply md:flex md:items-center;

      .brand {
        @apply flex gap-3 items-center mb-4 md:mb-0;

        .brand-img {
          @apply border rounded-full w-16;
          background-position: center;
          object-fit: cover;
        }
      }
    }

    .travel-time-wrapper {
      @apply flex gap-10 items-center;

      .fly-time, .landing-time {
        .time {
          @apply font-bold text-3xl;
        }

        .city {
          @apply text-2xl;
        }
      }

      .separator img {
        @apply h-auto md:h-12;
      }
    }
  }

  .change-ticket-wrapper {
    @apply col-span-2 p-10 border-none md:border-r;
    // Flex
    @apply flex flex-col justify-between;

    .change-ticket {
      @apply bg-white text-blue-600 rounded-xl shadow-none border-2 border-blue-500 mb-10 md:mb-0;
    }

    .bills {
      .total {
        @apply flex justify-between border-t pt-4;
      }
    }
  }
}
</style>

<script>
import { mapGetters } from 'vuex';
import Translator from '@/utils/Translator';
import travelTimeFixer from '@/utils/Travel-Time-Fixer';
import priceSeparator from '@/utils/Price-Separator';

export default {
  name: 'Travel-Overview',
  methods: {
    travelTimeFixer,
    priceSeparator,
    translate(enWord) {
      return Translator.translate(enWord);
    },
    changeTicket() {
      this.$router.back();
    },
  },
  computed: {
    ...mapGetters(['currentTravel']),
    brandImgAlt() {
      return ` تصویر شرکت هواپیمایی${this.translate(this.currentTravel.brand.name)}`;
    },
  },
};
</script>
