<template>
  <div class="category-choice-container" dir="rtl">
    <div class="heading-wrapper">
      <h2 class="heading">
        لطفا برمبنای خدماتی که خریداری کرده‌اید یا سوال دارید دسته بندی مورد نظر خود را انتخاب کنید.
      </h2>

      <p class="desc">
        دسته‌بندی به ما کمک می‌کند که در کمترین زمان ممکن سوال شما را توسط متخصص آن حوزه پاسخ دهیم.
      </p>
    </div>

    <div class="categories-wrapper">
      <div class="category"
           v-for="(category, i) of categories"
           :key="`category-${i}`"
           @click="categorySelectorHandler(category.val)"
           :class="{'border-black': selected === category.val}" >
        <i class="fa-solid fa-plane"
           :class="[ selected === category.val ? 'text-black': 'text-gray-400' ]"></i>
        <h3 class="title"
            :class="[ selected === category.val ? 'text-black': 'text-gray-400' ]">
          {{ category.title }}
        </h3>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Category-Choice',
  emits: ['update:category', 'category-selected'],
  props: {
    selectedCategory: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      selected: '',
      categories: [
        {
          icon: '',
          title: 'پرواز داخلی',
          val: 'inner-travel',
        },
        {
          icon: '',
          title: 'پرواز خارجی',
          val: 'out-travel',
        },
        {
          icon: '',
          title: 'هتل داخلی',
          val: 'inner-hotel',
        },
        {
          icon: '',
          title: 'هتل خارجی',
          val: 'out-hotel',
        },
        {
          icon: '',
          title: 'تور داخلی',
          val: 'inner-tour',
        },
        {
          icon: '',
          title: 'تور خارجی',
          val: 'out-tour',
        },
        {
          icon: '',
          title: 'مالی',
          val: 'financial',
        },
      ],
    };
  },
  methods: {
    categorySelectorHandler(val) {
      this.selected = val;
      this.$emit('update:category', val);
      this.$emit('category-selected');
    },
  },
  beforeMount() {
    this.selected = this.selectedCategory;
  },
};
</script>

<style lang="scss" scoped>
.category-choice-container {
  .heading-wrapper {
    @apply pt-16 mb-20;

    .heading {
      @apply text-center font-bold text-3xl;
    }

    .desc {
      @apply text-center mt-3 text-2xl;
    }
  }

  .categories-wrapper {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-16 mb-10;

    .category {
      @apply border-2 rounded-xl py-20 cursor-pointer;
      // Transition
      @apply transition-colors duration-300;
      @apply flex justify-center items-center flex-col;

      &:hover {
        @apply border-gray-500;
      }

      i {
        @apply mb-7;
        font-size: 5rem;
      }

      .title {
        @apply text-center font-bold text-2xl;
      }

      .title, i {
        @apply transition-colors duration-300;;
      }
    }
  }
}
</style>
