<template>
  <div class="new-support-request-container">
    <div class="heading" dir="rtl">
      <a href="#"
         @click="$emit('done')">
        <i class="fa-solid fa-arrow-right"></i>&nbsp;
        بازگشت
      </a>
    </div>

    <div class="main-wrapper">
      <category-choice v-if="step === 'category-choice'"
                       v-model:category="newSupportRequest.category"
                       :selected-category="newSupportRequest.category"
                       @category-selected="categorySelectHandler"/>

      <request-type-choice v-else-if="step === 'type-choice'"
                           v-model:type="newSupportRequest.type"
                           :category="newSupportRequest.category"
                           :selected-type="newSupportRequest.type"/>

      <request-form v-else-if="step === 'form-filling'"
                    v-model:msg="newSupportRequest.replies[0].msg"
                    v-model:order-number="newSupportRequest.orderNumber"
                    v-model:title="newSupportRequest.title"/>
    </div>

    <div class="paginator">
      <simple-paginator :done-locked="paginationDoneLocked"
                        :pagination="paginationData"
                        last-button-text="ثبت درخواست"
                        @finish="formSubmitHandler"
                        @next="nextPage"
                        @prev="prevPage"/>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import { cloneDeep } from 'lodash';
import CategoryChoice from '@/components/Account/Support/Category-Choice.vue';
import RequestTypeChoice from '@/components/Account/Support/Request-Type-Choice.vue';
import RequestForm from '@/components/Account/Support/Request-Form.vue';
import SimplePaginator from '@/components/Elements/Simple-Paginator.vue';

/*
New Ticket Steps:
1. Category choice
2. Type choice
3. Form filling
*/

function formInputValidator() {
  const {
    title,
    orderNumber,
  } = this.newSupportRequest;
  const { msg } = this.newSupportRequest.replies[0];

  if (!title.length || !msg.length || !orderNumber.length) {
    this.paginationDoneLocked = true;
  } else {
    this.paginationDoneLocked = false;
  }
}

export default {
  name: 'New-Support-Request',
  components: {
    RequestForm,
    CategoryChoice,
    RequestTypeChoice,
    SimplePaginator,
  },
  data() {
    return {
      step: 'category-choice',
      newSupportRequest: {
        id: 1,
        status: 'open',
        category: '',
        type: '',
        title: '',
        orderNumber: '',
        replies: [
          {
            id: 0,
            from: 'user',
            msg: '',
          },
        ],
      },
      currentPage: 0,
      paginationData: [
        {
          page: 0,
          title: 'انتخاب دسته بندی',
          locked: false,
          val: 'category-choice',
        },
        {
          page: 1,
          title: 'انتخاب نوع سوال',
          locked: true,
          val: 'type-choice',
        },
        {
          page: 2,
          title: 'فرم درخواست پشتیبانی',
          locked: true,
          val: 'form-filling',
        },
      ],
      paginationDoneLocked: true,
    };
  },
  watch: {
    // eslint-disable-next-line func-names
    'newSupportRequest.type': function (val) {
      this.paginationData[2].locked = !val.length;
    },
    // eslint-disable-next-line func-names
    'newSupportRequest.title': function () {
      formInputValidator.bind(this)();
    },
    // eslint-disable-next-line func-names
    requestMessage() {
      formInputValidator.bind(this)();
    },
    // eslint-disable-next-line func-names
    'newSupportRequest.orderNumber': function () {
      formInputValidator.bind(this)();
    },
  },
  methods: {
    ...mapMutations(['updateUser']),
    formSubmitHandler() {
      const cloneUser = cloneDeep(this.user);
      cloneUser.tickets.push(this.newSupportRequest);
      this.updateUser(cloneUser);

      this.$emit('done');
    },
    categorySelectHandler() {
      this.paginationData[1].locked = false;
    },
    nextPage(pageId) {
      this.step = this.paginationData[pageId].val;
    },
    prevPage(pageId) {
      this.step = this.paginationData[pageId].val;
    },
  },
  computed: {
    ...mapGetters(['user']),
    requestMessage() {
      return this.newSupportRequest.replies[0].msg;
    },
  },
  beforeMount() {
    this.newSupportRequest.id = this.user.tickets.length;
  },
};
</script>

<style lang="scss" scoped></style>
