<template>
   <div class="request-form">
     <div class="form-wrapper">
       <form>
         <div class="req-title input-wrapper">
           <span class="label">
             عنوان درخواست *
           </span>
           <a-input v-model:value="title"
                    placeholder="عنوان درخواست را وارد کنید" />
         </div>

         <div class="req-msg input-wrapper">
           <span class="label">
             توضیحات *
           </span>
           <a-textarea v-model:value="msg"
                       placeholder="توضیحات درخواست پشتیبانی را وارد نمایید"
                       :rows="4" />
         </div>

         <div class="req-order-number input-wrapper">
           <span class="label">
             شماره سفارش *
           </span>
           <a-input v-model:value="orderNumber"
                    placeholder="شماره سفارش را وارد نمایید" />
         </div>
       </form>
     </div>

      <div class="info-wrapper">
        <h3 class="heading">
          قبل از ارسال درخواست بدانید:
        </h3>

        <p class="desc">
          توضیح کامل و جامع تر شما باعث سریعتر پاسخ داده شدن درخواست می ‌شود. درخواست شما در صورت تایید ایرلاین امکان پذیر می باشد. درخواست اضافه کردن نوزاد یا کودک فقط در صورت همراه بودن والدین یا قیم قانونی ممکن است. امکان تغییر نرخ و تکمیل ظرفیت برای بلیط کودک وجود دارد و در صورت هرگونه تغییر به اطلاع شما خواهد رسید.
        </p>
      </div>
   </div>
</template>

<script>
export default {
  name: 'Request-Form',
  emits: ['update:title', 'update:msg', 'update:order-number'],
  data() {
    return {
      title: '',
      msg: '',
      orderNumber: '',
    };
  },
  watch: {
    title(val) {
      this.$emit('update:title', val);
    },
    msg(val) {
      this.$emit('update:msg', val);
    },
    orderNumber(val) {
      this.$emit('update:order-number', val);
    },
  },
};
</script>

<style lang="scss" scoped>
.request-form {
  @apply grid grid-cols-1 md:grid-cols-3 mb-10;
  direction: rtl;

  .info-wrapper {
    @apply col-span-1 p-8 pb-0;

    .heading {
      @apply font-bold text-right mb-3 text-blue-800;
    }

    .desc {
      @apply text-justify text-gray-700;
    }
  }

  .form-wrapper {
    @apply col-span-2 p-8 md:pl-128;

    form {
      @apply space-y-5;

      .input-wrapper {
        .label {
          @apply block mb-3;
        }
      }
    }
  }
}
</style>
