<template>
  <div class="request-type-choice-container">
    <h2 class="heading">
      نوع درخواست پشتیبانی را انتخاب نمایید
    </h2>

    <div class="selector-wrapper">
      <span class="label">نوع درخواست</span>
      <a-select
        class="select-input"
        ref="select"
        placeholder="لطفا نوع سوال خود را انتخاب نمایید"
        v-model:value="type"
        @change="handleChange">
        <a-select-option
          v-for="({ label, val }, i) of listToRender"
          :key="`type-${i}`"
          :value="val">
          {{ label }}
        </a-select-option>
      </a-select>
    </div>
  </div>
</template>

<script>
const types = {
  innerTravel: [
    {
      label: 'ارسال بلیط مهر شده',
      val: 'send-a-stamped-ticket',
    },
    {
      label: 'اصلاح کد ملی',
      val: 'national-code-change',
    },
    {
      label: 'درخواست ویلچر',
      val: 'wheelchair-request',
    },
    {
      label: 'تغییر کلاس پرواز',
      val: 'travel-class-change',
    },
  ],
};

export default {
  name: 'Request-Type-Choice',
  emits: ['update:type'],
  props: {
    category: {
      type: String,
      required: true,
    },
    selectedType: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      type: '',
      listToRender: [],
    };
  },
  methods: {
    handleChange(val) {
      this.$emit('update:type', val);
    },
  },
  beforeMount() {
    this.listToRender = types.innerTravel;
    this.type = this.selectedType;
  },
};
</script>

<style lang="scss" scoped>
.request-type-choice-container {
  @apply sm:w-2/3 md:w-1/2 lg:w-1/3 xl:w-1/4 mx-auto my-10;

  .heading {
    @apply font-bold text-center text-3xl mb-16;
  }

  .selector-wrapper {
    @apply flex flex-col justify-center;
    direction: rtl;

    .label {
      @apply mb-2;
    }
  }
}
</style>
