<template>
  <div class="auth-container">
    <AuthForm box-shadow="md" :container-padding="16"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import AuthForm from '@/components/Auth/Auth-Form.vue';
import hideHeaderFooterMixin from '@/mixins/hide-header-footer.mixin';

export default {
  name: 'Auth',
  components: {
    AuthForm,
  },
  mixins: [hideHeaderFooterMixin],
  methods: {
    ...mapActions(['toggleFooter', 'toggleHeader']),
  },
  computed: {
    ...mapGetters(['loggedIn']),
  },
};
</script>

<style lang="scss" scoped>
.auth-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
