<template>
  <div :class="[containerPaddingClass, boxShadowClass]"
       class="auth-form-container">
    <div v-if="authStep === 'get-phone-number'"
         class="get-phone-number-form">
      <h2 class="title">
        ورود و یا ثبت نام
      </h2>
      <p class="desc" dir="rtl">
        برای ادامه شماره موبایل خود را وارد کنید.
      </p>

      <a-input v-model:value.trim="phoneNumber"
               :maxLength="10"
               addon-before="+98"
               class="phone-number-input"
               placeholder="930xxxxxxx"
               :disabled="buttonLoadingState"
               size="large"/>

      <p class="policy-accept" dir="rtl">
        استفاده از آژانس مسافرتی اوراکل به معنی پذیرش تمامی قوانین می باشد.
      </p>

      <a-button :disabled="AuthBtnDisableStatus"
                :loading="buttonLoadingState"
                block
                class="confirm-btn"
                size="large"
                type="primary"
                @click.prevent="phoneNumberVerificationHandler">
        تایید و دریافت کد
      </a-button>
    </div>

    <div v-if="authStep === 'code-verification'"
         class="code-verification">
      <code-verification :phone-number="phoneNumber"
                         @go-back="goPrevPage"/>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import CodeVerification from '@/components/Auth/Code-Verification.vue';

const authSteps = {
  one: 'get-phone-number',
  two: 'code-verification',
};

export default {
  name: 'Auth-Form',
  components: { CodeVerification },
  data() {
    return {
      phoneNumber: '9307685472',
      authStep: authSteps.one,
      buttonLoadingState: false,
    };
  },
  props: {
    containerPadding: {
      type: Number,
      default: 0,
    },
    boxShadow: {
      type: String,
      default: 'shadow-lg',
    },
  },
  methods: {
    ...mapActions(['findUserByPhoneNumber']),
    async phoneNumberVerificationHandler() {
      const self = this;
      this.buttonLoadingState = true;

      setTimeout(() => {
        self.buttonLoadingState = false;
        self.authStep = authSteps.two;
      }, 2000);
    },
    goPrevPage() {
      this.authStep = authSteps.one;
    },
  },
  computed: {
    AuthBtnDisableStatus() {
      return this.phoneNumber.length !== 10;
    },
    containerPaddingClass() {
      return this.containerPadding !== 0 ? `p-${this.containerPadding}` : '';
    },
    boxShadowClass() {
      return `shadow-${this.boxShadow}`;
    },
  },
};
</script>

<style lang="scss" scoped>
@use "./../../assets/sass/global";

.auth-form-container {
  background-color: white;
  border-radius: 2rem;

  .get-phone-number-form {
    @extend .flex-center;
    flex-direction: column;

    .title {
      @apply text-3xl font-bold;
      margin-bottom: 1.25rem;
    }

    .desc {
      margin-bottom: 3rem;
      @apply text-2xl text-gray-700;
    }

    .phone-number-input {
      margin-bottom: 3rem;
    }

    .policy-accept {
      @apply text-gray-600 mb-8;
    }

    button.confirm-btn {
      border-radius: .6rem;
    }
  }
}
</style>
