<template>
  <div class="code-verification-container">
    <h2 class="title">
      کد تایید را وارد کنید
    </h2>
    <p class="desc" dir="rtl">
      کد ۵ رقمی به شماره
      {{ phoneNumber }}
      ارسال شد.
    </p>

    <p class="edit-phone-number"
       @click="$emit('go-back')">
      ویرایش شماره موبایل
    </p>

    <div class="code-inputs-wrapper">
      <multi-separated-inputs :inputs-amount="5"
                              v-model:code="verificationCode"/>
    </div>

    <div class="resend-code" dir="rtl">
      <p v-if="!codeResend"
         class="code-resend-btn"
         @click="resendCode">
        ارسال مجدد کد
      </p>

      <p v-else
         ref="new-code-resend-remain-time"
         class="remain-time">
        {{ codeResendRemainTimeSorted }}
        ثانیه تا درخواست مجدد کد
      </p>
    </div>

    <a-button block
              class="login-btn"
              size="large"
              type="primary"
              @click="codeVerificationHandler"
              :disabled="verificationCode.length !== 5">
      ورود به حساب اوراکل
    </a-button>
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex';
import MultiSeparatedInputs from '@/components/Elements/Multi-Separated-Inputs.vue';

export default {
  name: 'Code-Verification',
  components: {
    MultiSeparatedInputs,
  },
  emits: ['go-back'],
  props: {
    phoneNumber: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      codeResend: false,
      codeResendRemainTime: 0,
      verificationCode: '',
    };
  },
  methods: {
    ...mapMutations(['login']),
    ...mapActions(['findUserByPhoneNumber']),
    async codeVerificationHandler() {
      // Add user as signed user data
      const user = await this.findUserByPhoneNumber(this.phoneNumber);

      if (!user) {
        this.$message.error('کاربری با این شماره یافت نشد');
      } else {
        this.login(user);
        await this.$router.push({ name: 'Account-Profile' });
      }
    },
    resendCode() {
      const self = this;
      const remainSec = 10;

      if (this.codeResendRemainTime >= 1) return;

      this.codeResend = true;
      this.codeResendRemainTime = remainSec;

      const interval = setInterval(() => {
        self.codeResendRemainTime -= 1;
      }, 1000);

      setTimeout(() => {
        clearInterval(interval);
        self.codeResend = false;
      }, remainSec * 1000);
    },
  },
  computed: {
    codeResendRemainTimeSorted() {
      return this.codeResendRemainTime;
    },
  },
  mounted() {
    this.resendCode();
  },
};
</script>

<style lang="scss" scoped>
.code-verification-container {
  .title, .desc {
    @apply text-center;
  }

  .title {
    @apply text-3xl font-bold mb-3;
  }

  .desc {
    @apply text-black mb-16;
  }

  .edit-phone-number {
    @apply text-blue-700 text-center mb-4 cursor-pointer;
  }

  .code-inputs-wrapper {
    @apply flex justify-center mb-10;
  }

  .resend-code {
    @apply text-center mb-5;

    .code-resend-btn {
      @apply text-blue-700 cursor-pointer;
    }

    .remain-time {
      @apply text-gray-600;
    }
  }

  .login-btn {
    @apply rounded-xl;
  }
}
</style>
