*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  overflow: auto;
}

body {
  @apply bg-gray-100;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  @apply text-gray-700;
}
