.modal-parent-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 102;
  transform: translate(-50%, -50%);
}

.modal-background-page {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 101;
  background-color: rgba(0,0,0, .5);
}
