.profile-info {
  .right-wrapper, .left-wrapper {
    @apply space-y-5;
  }

  .right-wrapper {
    @apply text-gray-600 pl-12 border-l-2 border-dashed;
  }

  .left-wrapper {
    @apply text-black pr-12;
  }

  .edit-info {
    @apply text-blue-500 cursor-pointer;
    position: absolute;
    left: 0;
    bottom: 0;

    i {
      @apply text-blue-600;
    }
  }
}
