.custom-container-p {
  @apply px-8 md:px-24 lg:px-32 xl:px-32 2xl:px-80 3xl:px-160;
}

.custom-container-p-big {
  @apply px-12 md:px-24 lg:px-32 xl:px-32 2xl:px-80 3xl:px-128;
}

.custom-container-m {
  @apply mx-8 md:mx-24 lg:mx-32 xl:mx-32 2xl:mx-80 3xl:mx-160;
}
